/* ==========================================================================
   Section / Accordion - Pattern Library + Services Template
   ========================================================================== */

.section__accordion {
    position: relative;
    .section_title {
        .title {
            font-weight: 600 !important; 
            margin-bottom: 20px;
        }
    }

    .accordion {
        border-top: 2px solid $sbci_lime;

        &:last-of-type {
            border-bottom: 2px solid $sbci_lime;
        }
    
        li {
            padding: 0!important;
            margin: 0 !important;
            text-indent: 0px;
            height: max-content;
            &::before {
                content: none !important;
            }
        }
    
        &.transition {
          position: relative;
          opacity: 0;
        }
    
        &.active {
          opacity: 1;
          z-index: 1;
          position: relative;
          width: 100% !important;
        }
    
        > li {
          position: relative;
          margin-left: 0;
          padding-left: 0;
          &.open {
            .question {
              .btn {
                &:before {
                  opacity: 0;
                }
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
    }
      
    
    .question {
        border: none;
        outline: none;
        background: transparent;
        position: relative;
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        cursor: pointer;

        &:active {
            color: $white;
        }

        &:hover {
            .btn {
                background-position: 0 0;
            }
        }

        .title {
            margin-right: 40px;
        }

        .btn {
            position: absolute;
            right: 0px !important;
            padding: 0;
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: $white;
                margin: auto;
                transition: opacity 0.4s ease;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:before {
                content: ' ';
                background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23042c33;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eleft-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='10 16.83 2.12 8.94 10 1.06'/%3E%3C/g%3E%3C/svg%3E");
                background-size: auto 19px;
                background-repeat: no-repeat;
                transform: rotate(270deg);
                width: 11px;
                height: 19px;
            }
            &:after {
                content: ' ';
                opacity: 0;
                background-size: 100%;
                width: 19px;
                height: 3.5px;
                background: $sbci_teal;
            }
        }
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        width: 100%;
        .answer__content {
            width: 100%;
            padding-bottom: 20px !important;
            p {
                font-weight: 500;
                // line-height: 30px;
            }
        }
    }
}




@media (min-width: 768px) {
    .section__accordion {
        .question {
            .title {
                // font-size: 18px !important;
            }
        }
    }
}

@media (min-width: 1440px) {
    .section__accordion {
        .answer {
            .answer__content {
                p {
                    line-height: 30px;
                }
            }
        }
    }
}