/* ==========================================================================
   Section/Contact - Pattern Library
   ========================================================================== */

.section__contact {

    .maintitle {
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .container_left {
        width: calc(50% - 20px);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 40px;

        .title {
            font-size: 26px;
            font-family: $frank;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .desc {
            font-family: $poppins;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .phone-container, .fax-container, .location-container {
            svg {
                width: 19px;
                height: 23px;
                margin-right: 10px;
                .cls-3 {
                    stroke:$sbci_teal-light;
                }
                .cls-4 {
                    fill : $sbci_teal-light;
                }
            }
        }

        .location-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            .location-items {
                display: flex;
                flex-direction: column;
            }
            .location {

            }
        }


        .phone-container, .fax-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            .phone, .fax {
                font-family: $poppins;
                font-size: 16px;
                font-weight: 400 !important;
                line-height: 25px;
                &:first-of-type {
                    margin-right: 40px;
                }
                &:last-of-type {
                    &:before {
                        content: "TF";
                        font-weight: 600;
                        margin-right: 10px;
                    }
                }
            }
        }

        .email {

        }

    }

    .container_right {
        width: calc(50% - 20px);
        

        .content-container {
            border-bottom: 2px solid $sbci_lime;
            padding: 20px 0;
            &:last-of-type {
                border-bottom: none;
            }
            .name-title-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                .name {
                    font-size: 16px;
                    font-weight: 600;
                }
                .title {
                    font-family: $frank;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .contact-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .email, .phone {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 40px;
                    &:last-of-type {
                        margin-right: 0px;
                    }
                    svg {
                        width: 19px;
                        height: 23px;
                        margin-right: 10px;
                        .cls-3 {
                            stroke:$sbci_teal-light;
                        }
                        .cls-4 {
                            fill : $sbci_teal-light;
                        }
                    }
                }
            }
        }
    }
}