/* ==========================================================================
   Section/Forms - Pattern Library
   ========================================================================== */

$form_grey: #f1f1f1;
$form_lightgrey: #f8f8f8;
$form_error: #E10807;

.section__form {

    .form__container {
        padding: 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 50px 0;
        form {
            position: relative;

            .gf_left_half, .gf_right_half {
                // width: calc(50% - 20px) !important;
                width: 100% !important;
            }

            .gf_left_half {
                margin-right: 0px;
            }

            .gf_right_half {
                margin-left: 0px;
            }

            // Removes the underline from Section Title
            .field_sublabel_below {
                border-bottom: none;
                margin-bottom: 0;
            }

            // .gfield gsection field_sublabel_below field_description_below gfield_visibility_visible

            // Section Title
            .gsection_title {
                @extend %font__secondary--24;
                color: $sbci_teal;
                font-weight: 600;
                text-transform: capitalize;
                letter-spacing: 0.11em;
                // border: 1px solid grey;
                margin-bottom: 0 !important;

                &:first-of-type {
                    padding-top: 0px; 
                }
            }

            ul {
                // margin-left: -5px;
                // margin-right: -5px;
                // width: calc(100% + 10px);
                // margin-top: 0;
            }
            li {
                text-indent: 0px;
                padding-left: 0px !important;
                padding-right: 0px !important;
                li {
                    margin-bottom: 0;
                }
            }

            // Field Description
            .gfield_description {
                @extend %font__secondary--16;
                color: $color-primary;
                font-style: italic;
                // border: 1px solid grey;
                padding: 0;
            }

            .gfield_error {
                background-color: white !important;
                border: none !important;
                input, textarea {
                    border: 2px solid $form_error !important;
                }
                label {
                    color: $form_error !important;
                }
                .gfield_required {
                    color: $form_error !important;
                }
                .ginput_container_select {
                    select {
                        border-bottom: 2px solid $form_error !important;
                    }
                }
                input[type="checkbox"],
                input[type="radio"] {
                    border: none !important;
                }

                input[type="redio"] {
                    + label {
                        &:before {
                            background: linear-gradient(to bottom, #f8f8f8 50%, $form_error 50%); 
                        }
                    }
                }

                input[type="checkbox"] {
                    + label {
                        &:before {
                            border-bottom: 2px solid $form_error;
                        }
                    }
                }

            }
            .gform_validation_error {
                background-color: none !important;
            }

            // Field Labels
            label,
            .ginput_counter {
                @extend %font__secondary--16;
                display: block;
                margin: 20px 0 10px 0;
                color: $color-primary;
                line-height: 25px;
                font-weight: 500;
            }
            .ginput_counter {
                margin-bottom: 0;
                margin-top: 10px;
            }
            .ginput_container {
                ul {
                    margin: auto 0;
                    margin-top: -20px;
                }
            }
            .ginput_container_select {
                border: none !important;
                select {
                    padding: 15px 20px !important;
                    background: $form_lightgrey;
                    border: none !important;
                    border-bottom: 2px solid $sbci_lime !important;
                }
            }
            input[type="text"],
            textarea {
                @extend %font__secondary--16;
                border: none;
                outline: none;
                width: 100%;
                background: $form_lightgrey;
                padding: 15px 20px !important;
                -webkit-appearance: none;
                font-weight: 500;
                color: $sbci_teal;
            }
            input[type="text"]::placeholder,
            textarea::placeholder {
                @extend %font__secondary--16;
                font-weight: 400;
                color: $sbci_teal;
            }
            textarea {
                max-height: 250px;
                overflow: auto;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
            -webkit-text-fill-color: red;
            -webkit-box-shadow: 0 0 0px 1000px grey inset;
            transition: background-color 5000s ease-in-out 0s;
            }

            .gfield_radio, .gfield_checkbox {
                // border: 1px solid red;
                li {

                }
            }
            input[type="checkbox"],
            input[type="radio"] {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
                -webkit-appearance: none;

                + label {
                    letter-spacing: 0.01em;
                    font-weight: 400;
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    &:before,
                    &:after {
                        content:'';
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px;
                    }
                }
            }
            input[type="radio"] {
                &:checked {
                    + label {
                        &:before {
                            background: linear-gradient(to bottom, white 50%, #b3b3b3 50%); 
                        }
                        &:after {
                            background-color: #042c33;
                            border: 2px solid white;
                        }
                    }
                }
                + label {
                    &:before {
                        width: 20px;
                        height: 20px;
                        background: linear-gradient(to bottom, #f8f8f8 50%, #b3b3b3 50%); 
                        border-radius: 20px;
                    }
                    &:after {
                        width: 16px;
                        height: 16px;
                        background-color: #f8f8f8;
                        border-radius: 10px;
                        position: absolute;
                        top: 3px;
                        left: 2px;
                    }
                }
            }
            input[type="checkbox"] {
                + label {
                    margin-bottom: 15px;
                    margin-left: 5px;
                    position: relative;
                    &:before {
                        height: 17px;
                        width: 17px;
                        border: none;
                        background-color: #f8f8f8;
                        border-bottom: 2px solid #b3b3b3;
                    }
                    &:after {
                        position: absolute;
                        background-image: url('../img/icon__checkmark--blue.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: transparent;
                        height: 13px;
                        width: 15px;
                        border-radius: 3px;
                        top: 2px;
                        left: 2px;
                        border: none;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                    }
                }
                &:checked {
                    + label {
                        &:after {
                            opacity: 1;
                            background-color: transparent;
                            border-color: transparent;
                        }
                    }
                }
            }
        
            // Emma's Code Below:
            .ginput_container.ginput_container_fileupload {
                // border: 1px solid red;
                // border: none;
                background: none;
                width: max-content;
                // min-width: 180px;
                color: $sbci_teal;
                position: relative;
                cursor: pointer;
                &:hover {
                    cursor: pointer;
                }
                &:after {
                    content: "Upload files here";
                    position: absolute;
                    top: 12px;
                    left: 0;
                    cursor: pointer;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $sbci_teal-bright;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(1);
                    transition: transform 250ms ease-in-out;
                }
                &:hover:before {
                    transform: translateX(-40%) scaleX(0.2);
                }
                
            }
            .gfield_label[for=input_3_12] {
                display: none;
            }
        
        
            // Hide default upload button, replace with above
            input[type="file"] {
                opacity: 0;
                width: 180px;
                height: 40px;
                cursor: pointer;
        
        
            }
            .ginput_container {
                .address_country {
                    select {
                        margin: 0;      
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        cursor: pointer;
                        // border: 1px solid #2375bb;
                        width: 100%;
                        padding: 12px 10px;
                        // @extend %font__secondary--16;
                        background-image:
                            linear-gradient(45deg, transparent 50%, gray 50%),
                            linear-gradient(135deg, gray 50%, transparent 50%),
                            linear-gradient(to right, #ccc, #ccc);
                        background-position:
                            calc(100% - 20px) calc(1em + 2px),
                            calc(100% - 15px) calc(1em + 2px),
                            calc(100% - 2.5em) 0.5em;
                        background-size:
                            5px 5px,
                            5px 5px,
                            1px 1.5em;
                        background-repeat: no-repeat;
                    }
                }
            }
        
            // Targets fields that are required, and the sublabel is above
            .gfield_contains_required.field_sublabel_above { 
                label {
                    &:after {// Add astericks to sub labels to show required.
                        content: '*';
                    }
                }
                .gfield_label_before_complex {// Hide main 'Email' label
                    display: none;
                }
            }
            .gfield_html { // Styles the HTML Block
                // @extend %font-secondary;
                font-size: 18px;
                line-height: 25px;
                padding-right: 120px;
            }
            // End Emma's Code
        
            .gfield_checkbox {
                margin-top: 20px;
            }
            .ginput_complex {
                display: flex;
                flex-flow: row wrap;
                margin-left: -5px;
                margin-right: -5px;
                margin-bottom: -35px;
                width: calc(100% + 10px);
                span {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 5px 35px;
                    width: calc(100% - 10px);
                }
            }
            .gform_footer {
                // @extend %btn__primary;
                position: relative;
                // padding: 20px 30px;
                width: 165px;
                input[type="submit"]{
                    @extend %btn__secondary;
                    // position: absolute;
                    // bottom: 0;
                    // bottom: 30px;
                }
            }
            
            .validation_error {
                position: absolute;
                bottom: 105px;
                left: 0;
                right: 0;
                padding-right: 20px;
                padding-left: 20px;
            }
            
            .gfield_error {
                label {
                    // color: red;
                }
                input[type="text"] {
                    // border-color: pink;
                }
                .validation_message {
                    // display: none;
                    position: absolute;
                    bottom: 90px;
                    left: 0;
                    color: $form_error;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .section__form {
        .form__container {
            padding: 50px;
            form {    
                .gf_left_half, .gf_right_half {
                    width: calc(50% - 20px) !important;
                }
                .gf_left_half {
                    margin-right: 20px;
                }
                .gf_right_half {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .section__form {
        .form__container {
            form {
                // Section Title
                .gsection_title {
                    font-size: 28px;
                    line-height: 42px;
                }
            }
        }
    }
}