  /* ==========================================================================
     Section/Featured Content - Front Page
   ========================================================================== */

   .section__featured-content {
    width: 100%;
    height: 850px;
    margin: 20px 0;
    border: 1px solid transparent;

    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: -100px;
    }

    .wrapper-container {
      position: relative;
      padding: 0;
      margin: 0;
      
    }

   .content-block_container {
      display: flex;
      flex-direction: column;
      position: relative;

      // &:after { // Up to 1200px
      //    content: " ";
      //    height: 100px;
      //    width: 200px;
      //    background: pink;
      //    position: absolute;
      //    bottom: -152px;
      // }
      // &:after { // 1200px upwards
      //    content: " ";
      //    height: 100px;
      //    width: 200px;
      //    background: lightblue;
      //    position: absolute;
      //    bottom: -100px;
      // }
      .decorative-line {
         width: 92px;
         height: 5.18px;
         background: $sbci_teal-bright;
         position: absolute;
         margin-left: 45px;
         top: -5.18px;
      }
      
       .content-left {
          width: 100%;
          background: $sbci_grey;
          color: $color-primary;
          @extend %font-secondary;
          padding: 30px 30px 35px 30px;
          text-align: left;
          .title {
             font-size: 18px;
             line-height: 27px;
             font-weight: 600;
             padding-bottom: 20px;
          }
          .desc {
             font-size: 16px;
             line-height: 24px;
             @include font-weight(medium);
             padding-bottom: 30px;
          }
          .button {
             @include font-weight(bold);
             letter-spacing: 0.03em;
          }
       }

      .content-right {
         width: 100%;
         position: relative;
         .img-container {
            width: 100%;
            height: 100%;
            position: relative;
            img {
               background-size: cover;
               width: 100%;
               height: 100%;
               object-fit: cover;
               background-repeat: no-repeat;
               // margin-bottom: -2px;
              }
         }
      }
   }

   @supports (-webkit-touch-callout: none) {
      /* CSS specific to iOS devices */ 
      .toggle-pagination-container {
         margin-top: -2px !important;
      }
    }

   .toggle-pagination-container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      // margin-top: auto;
      margin-top: -3px;
      // margin-top: 0px;
      .toggles-container {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: flex-end;
         width: 50%;
         z-index: 2;
         .toggle-left {
            width: 55px;
            height: 55px;
            background: $white;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: center;
            cursor: pointer;
            position: relative;
            
            &:before,
            &:after {
               content: '';
               position: absolute;
               display: block;
               width: 13px;
               height: 3px;
               background: $sbci_teal;
               right: 21px;
               bottom: 0px;
               transition: all 0.3s ease;
            }
            &:before {
               transform: rotate(-45deg);
               top: calc( 26px - 4px );
             }
           
             &:after {
               transform: rotate(45deg);
               top: calc( 26px + 4px );
            }
            
            &:hover {
               &:before,
               &:after {
                  right: 25px;
                  background: #9faaad;
               }
           
               span {
                 width: 14px;
                 right: 25px;
               }
             }

            svg {
               width: 11px;
               height: 19px;
               transition: margin-right ease-in-out 0.2s;
               
               .cls-3 {
                  stroke: $sbci_teal;
               }
            }
            &:hover {
               svg {
                  margin-right: 10px;
                  .cls-3 {
                     stroke: #9faaad;
                  }
               }
            }
         }
         .toggle-right {
            // width: 55px;
            // width: 60px;
            width: 70px;
            height: 55px;
            background: $sbci_teal;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            z-index: 20;
            text-decoration: none;
            color: $sbci_lime;
            
            &:before,
            &:after {
               content: '';
               position: absolute;
               display: block;
               width: 13px;
               height: 3px;
               background: $sbci_lime;
               right: 21px;
               bottom: 5px;
               transition: all 0.3s ease;
            }
            &:before {
               transform: rotate(45deg);
               // top: calc( 50% - 4px );
               top: calc( 26px - 4px );
             }
           
             &:after {
               transform: rotate(-45deg);
               // top: calc( 50% + 4px );
               top: calc( 26px + 4px );
            }
            
            &:hover {
               &:before,
               &:after {
                  // left: 25px;
               }
           
               span {
                 width: 0px;
                 right: 25px;
               }
             }
           
             span {
               content: '';
               position: absolute;
               display: block;
               background: $sbci_lime;
               height: 3px;
               width: 20px;
               right: 25px;
               bottom: 26px;
               transition: all 0.3s ease;
             }
         }
      } // end .toggles-container

      .pagination-container {
         position: relative;
         width: 50%;
         z-index: 1;
            ol {
               display: grid;
               grid-template-columns: repeat(3, 40px);
               grid-gap: 2px;
               margin-top: 20px;
               li {
                  cursor: pointer;
                  margin-right: 5px !important;
                  margin-left: 5px !important;
                  &:before {
                     content: none !important; // To stop generic list styles from applying here
                  }
               }
            }
            .item {
               font-family: $frank;
               position: absolute;
               font-size: 18px !important;
               font-weight: 700;
               position: relative;
               margin: 0 10px;
               
               padding-bottom: 10px; 
               color: $sbci_teal;
               &:first-of-type {
                  margin-left: 0 !important;
               }
               &:after {
                  content: '';
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 4.8px;
                  background: $sbci_lime;
               }
            }
            .item.active {
               // cursor: pointer;
               font-size: 24px !important;
               &:after {
                  background: $sbci_teal;
               }
            }
      }
   } // toggles + pagination containers
}

@media (min-width: 480px) {
 .section__featured-content {
    .toggle-pagination-container {
      .pagination-container {
         ol {
            grid-template-columns: repeat(3, 1fr);
         }
      }
    }
 }
}

@media (min-width: 520px) {
   .section__featured-content {
      height: 900px;
   }
}

@media (min-width: 680px) {
   .section__featured-content {
      height: 950px;
   }
}

@media (min-width: 768px) {
 .section__featured-content {
    height: 650px;
    .content-block_container {
       flex-direction: row;
        .content-left {
           width: 50%;
           text-align: left;
           .title {
              font-size: 28px;
              line-height: 42px;
           }
        }
       .content-right {
        width: 50%;
       }
    }
    .toggle-pagination-container {
      margin-top: 0px;
      .pagination-container {
         ol {
            grid-template-columns: repeat(3, 100px);
         }
      }
   }
 }
}

@media (min-width: 992px) {
   .section__featured-content {
      .content-block_container {
          .content-left {
             padding: 50px 50px 55px 50px;
             .desc {
               font-size: 18px;
               line-height: 30px;
               padding-bottom: 45px;
            }
          }
      }
   }
}

@media (min-width: 1200px) {
   .section__featured-content {
      .wrapper {
         position: relative;
      }
      .content-block_container {
         max-width: 800px;
      }
      .toggle-pagination-container {
         position: absolute;
         bottom: 0;
         flex-direction: column;
         right: -70px;
      
         .toggles-container {
            width: 80%;
         }
         .pagination-container {
            position: absolute;
            right: -40px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            ol {
               grid-template-columns: repeat(3, 70px);
               li {
                  &:after {

                  }
               }
            }
            .item {
               // padding-right: 0;
               &:after {
                  width: 90%;
               }
            }
         }
      }
   }
}

@media (min-width: 1440px) {
   .section__featured-content {
      .content-block_container {
        max-width: 1000px;
      }
  
      .toggle-pagination-container {
         right: -130px;
         bottom: -1px;
         .pagination-container {
            right: -10px;
         }
      }
      
   }
}

  @media (min-width: 1550px) {
   .section__featured-content {
      .content-block_container {
        max-width: 1000px;
         .content-left {
            // padding: 50px 80px 5px 50px;
            .title {
               font-size: 28px;
               line-height: auto;
               padding-bottom: 35px;
            }
            .desc {
               // font-size: 18px;
               // line-height: 30px;
               // padding-bottom: 45px;
            }
         }
      }
      
   }
  }

  @media (min-width: 1750px) {
     .section__featured-content {
      .toggle-pagination-container {
         .pagination-container {
            right: -40px;
         }
      }
     }
  }


  @media (min-width: 1800px) {
   .section__featured-content {
      .content-block_container {
        max-width: 1100px;
        .content-left {
         .desc {
             padding-right: 30px;
         }
      }
      }

      .toggle-pagination-container {
         right: -150px;
      }

   }
}

@media (min-width: 1920px) {
   .section__featured-content {
      .content-block_container {
        max-width: 1220px;
      }

      .toggle-pagination-container {
         right: -175px;
      }
   }
}