  /* ==========================================================================
     Section/Become a Member - Front Page
   ========================================================================== */

.section__member {
  // background: $sbci_grey-light;
  padding-bottom: 80px;
  position: relative;

  .background-block {
    // background: green;
    background: $sbci_grey-light;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .membership-block-container {
    width: 100%;
    background: $sbci_teal-bright;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    // margin-top: -50px;
    position: relative;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    // border: 1px solid black;

    .content_container {
        // border: 1px solid red;
    }
    
    .section_left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    //   border: 1px solid black;
      .icon {
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 21.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23fff;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='36' height='21.9'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--member-white%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='15.54 17.96 16.1 13.58 11 10.67 5.93 13.58 6.48 17.96'/%3E%3C/g%3E%3Cpolygon class='cls-3' points='13.03 5.45 8.97 5.45 8.97 9.51 11 10.67 13.03 9.51 13.03 5.45'/%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M32.85,20.9H1V3.15A2.15,2.15,0,0,1,3.15,1H35V18.75a2.15,2.15,0,0,1-2.15,2.15Z'/%3E%3Cline class='cls-3' x1='20' y1='6.95' x2='30' y2='6.95'/%3E%3Cline class='cls-3' x1='20' y1='10.95' x2='30' y2='10.95'/%3E%3Cline class='cls-3' x1='20' y1='14.95' x2='30' y2='14.95'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 48px 31px;
        width: 48px;
        height: 31px;
      }
      img {
        width: 48px;
        height: 31px;
      }
      .text {
        font-family: $frank;
        font-size: 30px;
        color: $sbci_teal;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
      }
    }
    .section_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    //   border: 1px solid black;
      .text {
        font-family: $poppins;
        font-size: 16px;
        line-height: 27px;
        color: $sbci_teal;
        font-weight: 500;
        text-align: center;
      }
      .btn__secondary {
        margin-top: 30px;
        &:hover {
          border: 2px solid $sbci_teal !important;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .section__member {
    padding-bottom: 110px;
    .background-block {
      height: 60%;
    }
    .membership-block-container {
      flex-direction: row;
      justify-content: space-between;
      // margin-top: -120px;
      .content_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .section_left {
        width: calc(30% - 10px);
        align-items: flex-start;
        justify-content: space-between;
        .text {
          font-size: 35px;
          text-align: left;
          margin-top: 20px;
        }
      }
      .section_right {
        width: calc(70% - 10px);
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        margin-top: 0;
        .text {
          font-size: 18px;
          line-height: 27px;
          text-align: left;
        }
        .btn__secondary {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .section__member {
    .membership-block-container {
      padding: 50px 100px 50px 50px;

      .section_left {
        width: calc(30% - 20px);
        img {
          width: 58px;
          height: 38px;
        }
        .text {
          font-size: 40px;
          text-align: left;
          margin-top: 20px;
        }
      }

      .section_right {
        width: calc(70% - 20px);
        .text {
          font-size: 18px;
          line-height: 27px;
          text-align: left;
        }
        .btn__secondary {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .section__member {
    .membership-block-container {
      .section_right {
        .text {
          font-size: 22px;
          line-height: 33px;
        }
      }
    }
  }
}
