  /* ==========================================================================
     Section/News & Events - Front Page
   ========================================================================== */

.section__news-events {
    background: $white;
    padding: 70px 0;
    .sbci_graphic {
        display: none;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .section_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;

        .section_title {
            text-align: center;
        }
        .btn__primary {
            margin: 0;
            padding: 0 10px !important;
            display: none;
        }
    }

    .newsevents-cards__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 0px;

        // Styles the Event cards only
        .no-img {
            // border: 2px solid red;
            // min-height: 250px;
            min-height: 0 !important;
            .card-top, .card-top-overlay {
                height: 50px !important;
                // border: 2px solid red;
            }
            .card-top-overlay {
                background: transparent !important;
            }
            .card-top {
                width: 100% !important;
            }
            .card-type-container {
                
                .icon {
                    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 27.47 26'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='27.47' height='26'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--calendar-green%3C/title%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M24.58,25H1V6.31A1.89,1.89,0,0,1,2.89,4.42H26.47V23.11A1.89,1.89,0,0,1,24.58,25Z'/%3E%3Cline class='cls-3' x1='6.64' y1='6.56' x2='6.64'/%3E%3Cline class='cls-3' x1='20.83' y1='6.56' x2='20.83'/%3E%3Cline class='cls-3' x1='1' y1='8.9' x2='26.47' y2='8.9'/%3E%3Cline class='cls-3' x1='5.64' y1='13.61' x2='7.64' y2='13.61'/%3E%3Cline class='cls-3' x1='9.24' y1='13.61' x2='11.24' y2='13.61'/%3E%3Cline class='cls-3' x1='12.73' y1='13.61' x2='14.74' y2='13.61'/%3E%3Cline class='cls-3' x1='16.24' y1='13.61' x2='18.24' y2='13.61'/%3E%3Cline class='cls-3' x1='19.83' y1='13.61' x2='21.83' y2='13.61'/%3E%3Cline class='cls-3' x1='5.64' y1='16.76' x2='7.64' y2='16.76'/%3E%3Cline class='cls-3' x1='9.24' y1='16.76' x2='11.24' y2='16.76'/%3E%3Cline class='cls-3' x1='12.73' y1='16.76' x2='14.74' y2='16.76'/%3E%3Cline class='cls-3' x1='16.24' y1='16.76' x2='18.24' y2='16.76'/%3E%3Cline class='cls-3' x1='19.83' y1='16.76' x2='21.83' y2='16.76'/%3E%3Cline class='cls-3' x1='5.64' y1='19.92' x2='7.64' y2='19.92'/%3E%3Cline class='cls-3' x1='9.24' y1='19.92' x2='11.24' y2='19.92'/%3E%3Cline class='cls-3' x1='12.73' y1='19.92' x2='14.74' y2='19.92'/%3E%3Cline class='cls-3' x1='16.24' y1='19.92' x2='18.24' y2='19.92'/%3E%3Cline class='cls-3' x1='19.83' y1='19.92' x2='21.83' y2='19.92'/%3E%3C/g%3E%3C/svg%3E") !important;
                    background-size: 28px 26px !important;
                }
                .text {
                    color: $sbci_teal !important;
                }
                .desc {
                    @include line-clamp(4);
                }
            }
            .card-content-container {
                // background: pink;
            }
        }

        .card {
            width: 100%;
            border-radius: 40px 0;
            background: $sbci_grey-light;
            position: relative;
            min-height: 400px;
            .card-top-img {
                width: calc(100% + 0px);
                height: 175px;
                border-radius: 40px 0 0 0;
                background-size: cover;
                object-fit: center;
                overflow: hidden;
                position: relative;
                margin: 0 0px 0 0px;
            }

            .card-top-overlay {
                background: rgba(4,44,51,0.28);
                overflow: hidden;
                width: 100%;
                border-radius: 40px 0 0 0;
                height: 175px;
                z-index: 2;
                position: absolute;
                margin: 0 ;
            }

            .card-type-container {
                position: absolute;
                top: 20px;
                left: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                z-index: 3;
                .icon {
                    width: 28px;
                    height: 26px;
                    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 27.45 25.74'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;%7D.cls-2%7Bstroke:%23fff;stroke-miterlimit:10;stroke-width:2px;%7D.cls-3%7Bclip-path:url(%23clip-path);%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='27.47' height='25.74'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--news%3C/title%3E%3Cline class='cls-2' x1='12.77' y1='6.83' x2='15.32' y2='6.83'/%3E%3Cline class='cls-2' x1='12.77' y1='10.83' x2='15.32' y2='10.83'/%3E%3Cline class='cls-2' x1='4.89' y1='14.91' x2='15.32' y2='14.91'/%3E%3Cline class='cls-2' x1='4.89' y1='18.91' x2='15.32' y2='18.91'/%3E%3Cg class='cls-3'%3E%3Cpath class='cls-2' d='M23.25,24.74h0A3.24,3.24,0,0,1,20,21.53h0V4.7h6.45V21.52A3.22,3.22,0,0,1,23.25,24.74Z'/%3E%3Cpath class='cls-2' d='M20,11V1H1V21.61a3.13,3.13,0,0,0,3.13,3.13H23.25'/%3E%3Crect class='cls-2' x='5.86' y='6.83' width='4.59' height='4'/%3E%3C/g%3E%3C/svg%3E");
                }
                .text {
                    p {
                        font-family: $poppins;
                        font-size: 12px;
                        line-height: 28px;
                        letter-spacing: 0.16em;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $sbci_teal !important;
                        margin-left: 10px;
                    }
                }
                .text.has-image {
                    p {
                        color: $white !important;
                    }
                }
            }

            .card-content-container {
                display: flex;
                flex-direction: column;
                margin-top: auto;
                margin-bottom: 20px;
                width: 100%;
                padding-top: 20px;
                padding-left: 30px;
                padding-right: 30px;

                .title {
                    font-family: $frank;
                    font-size: 20px;
                    color: $sbci_teal; 
                    font-weight: 700;
                    margin-bottom: 10px;
                    @include line-clamp(2);
                    text-align: left;
                }
                .date {
                    font-family: $frank;
                    font-weight: 700;
                    font-size: 18px;
                    color: $sbci_teal; 
                    position: relative;
                    padding-bottom: 15px;
                    text-align: left;
                    width: max-content;
                    &:after {
                        content: ' ';
                        height: 5px;
                        width: 100%;
                        background: $sbci_teal-light;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                .desc {
                    padding-top: 20px;
                    font-family: $poppins;
                    font-size: 16px;
                    line-height: 24px;
                    @include line-clamp(3);
                    margin-bottom: 20px;
                    font-weight: 500;
                }

                .card-link-container {
                    margin-bottom: 20px;
                    a {
                        font-size: 16px;
                    }
                }
            }


        }
    }

    .container-bottom {
        .btn__primary {
            width: 100%;
        }
    }
}






/* Media Queries */

@media (min-width: 480px) {
    .section__news-events {
        .newsevents-cards__container {
            .card {
                .card-content-container {
                    align-items: flex-start;
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section__news-events {
        // padding: 110px 0 200px 0;
        padding: 110px 0;
        position: relative;
        .sbci_graphic {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 0;
            z-index: 1;
            width: 380px;
            height: auto;
        }
        .section_left {
            z-index: 2;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;

            .btn__primary {
                display: inline-flex;
            }
        }

    
        .newsevents-cards__container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            z-index: 2;
            .no-img {
                min-height: 410px !important;
            }
            .card {
                height: 410px;
                .card-top, .card-top-overlay {
                    height: 175px !important;
                }
                .card-content-container {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    .desc {
                        font-size: 18px;
                        
                    }
                    .date {
                        padding-left: 15px;
                        padding-bottom: 0px;
                        &:before {
                            content: ' ';
                            height: 100%;
                            width: 5px;
                            background: $sbci_teal-light;
                            position: absolute;
                            left: 0;
                        }
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }

        .container-bottom {
            .btn__primary {
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    .section__news-events {
        .newsevents-cards__container {
            grid-template-columns: repeat(3, 1fr);
            .card {
                height: 360px;
                .card-top-overlay, .card-top-img {
                    height: 150px !important;
                }
                .card-content-container {
                    padding-top: 0;
                }
            }
        }
    }
}


@media (min-width: 1440px) {
    .section__news-events {
        .wrapper {
            flex-direction: row;
        }
        .section_left {
            width: 300px;
            justify-content: flex-start;
            flex-direction: column;
            margin-right: 20px;
            .section_title {
                padding-bottom: 20px;
            }
            .btn__primary {
                width: 270px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
        .newsevents-cards__container {
            width: calc(100% - 300px);
            .card {
                height: 400px;
                .card-content-container {
                    justify-content: flex-start;
                    text-align: left;
                    .title {
                        font-size: 24px;
                        margin-right: auto;
                    }
                    .date {
                        margin-right: auto;
                        &:after {
                            content: none;
                        }
                    }
                }
                .card-link-container {
                    margin-bottom: 0px !important;
                    justify-content: flex-start;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (min-width: 1800px) {
    .section__news-events {
        .newsevents-cards__container {
            .card {
                height: 380px !important;
            }
        }
    }
}