/* ==========================================================================
   Front Page / Page Banner
   ========================================================================== */
  /* ==========================================================================
     Section/Page Banner
   ========================================================================== */   


   .section__page-banner {
   background: rgb(3,36,42);
   background: linear-gradient(0deg, rgba(3,36,42,1) 0%, rgba(3,36,42,1) 35%, rgba(5,57,66,1) 100%);
   width: 100%;
   display: flex;
   flex-direction: column;
   .content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
      p {
         color: $white;
      }
      .content {
         .intro-text {
            p {
               color: $sbci_teal-bright;
               font-family: $frank;
               font-size: 40px;
                font-weight: 700;
                margin-bottom: 20px;
                line-height: 50px;
                span {
                  display: inline-block;
                  text-transform: uppercase;
                  font-family: $poppins;
                  font-size: 30px ;
                  letter-spacing: 0.1em;
                  font-weight: 700;
                  color: $sbci_teal-bright;
                  padding-bottom: 10px;
                }
            }
         }
        .paragraph-text {
            p {
               color: $white;
               font-family: $poppins;
               font-size: 16px;
               line-height: 28px;
               font-weight: 500;
               padding-left: 25px;
               position: relative;
                 &:before {
                    content: ' ';
                    height: calc(100% - 20px);
                    width: 5px;
                    background: $sbci_lime;
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                 }
            }
        }
      }


   }

   .image-wrapper {
      width: 100%;
      height: 200px;
      img {
         background-size: cover;
         width: 100%;
         height: 100%;
         object-fit: cover;
         background-repeat: no-repeat;
      }
   }
}

@media(min-width: 768px) {
   .section__page-banner {
      .content-wrapper {
         width: calc(65% - 0px);
         height: 580px;
         margin: 0;
         margin-bottom: 30px;
         .content {
            margin: auto 0;
         }
      }
   
      .image-wrapper {
         width: calc(35% - 0px);
         position: absolute;
         right: 0;
         height: 650px;
      }
   }
}

@media(min-width: 1200px) {
   .section__page-banner {
      .content-wrapper {
         height: 700px;
         .content {
            margin-top: 120px;
            .intro-text-1 {
               font-size: 30px;
            }
            .intro-text {
               p {
                  font-size: 50px;
               }
            }
            .paragraph-text {
               p {
                  font-size: 22px;
                  line-height: 35px;
               }
            }
         }
      }
   
      .image-wrapper {
         height: 730px;
      }
   }
}

@media(min-width: 1440px) {
   .section__page-banner {
      .content-wrapper {
         height: 650px;
         .content {
            margin-top: 135px;
         }
      }
      .image-wrapper {
         height: 680px;
      }
   }
}

@media(min-width: 1800px) {
   .section__page-banner {
      .content-wrapper {
         height: 770px;
         .content {
            margin-top: 200px;
            padding-right: 50px;
         }
      }
      .image-wrapper {
         height: 800px;
      }
   }
}