  /* ==========================================================================
     Section/Resources - Front Page
   ========================================================================== */

.section__resources {
    object-fit: center;
    padding: 70px 0;

    .section_top {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-bottom: 40px;

        .section_title {
            padding: 0;
        }
        .btn__primary {
            display: none;
            margin: 0;
        }
    } //end section_top

    .resource-cards__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px 0;
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            width: 100%;
            border-radius: 40px 0;
            background: $white;
            padding: 40px 30px;
            position: relative;

            .card-type-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .icon {
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                .icon.public {
                    width: 28px;
                    height: 21px;
                    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 31.11 23.74'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0.01 0)'%3E%3Crect class='cls-1' width='31.11' height='23.73'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--public%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='12.67 23.61 13.34 18.32 7.2 14.82 1.08 18.32 1.75 23.61'/%3E%3C/g%3E%3Cpolygon class='cls-3' points='9.64 8.52 4.74 8.52 4.74 13.42 7.2 14.82 9.64 13.42 9.64 8.52'/%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='29.37 23.61 30.04 18.32 23.9 14.82 17.78 18.32 18.45 23.61'/%3E%3C/g%3E%3Cpolygon class='cls-3' points='26.34 8.52 21.44 8.52 21.44 13.42 23.9 14.82 26.34 13.42 26.34 8.52'/%3E%3Cpolyline class='cls-3' points='21.69 10.81 15.55 7.3 9.43 10.81'/%3E%3Cpolygon class='cls-3' points='18.01 1 13.11 1 13.11 5.9 15.57 7.3 18.01 5.9 18.01 1'/%3E%3C/svg%3E");                
                }
                .icon.member {
                    width: 28px;
                    height: 17px;
                    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 21.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%2310a995;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='36' height='21.9'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--member-1%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='15.54 17.96 16.1 13.58 11 10.67 5.93 13.58 6.48 17.96'/%3E%3C/g%3E%3Cpolygon class='cls-3' points='13.03 5.45 8.97 5.45 8.97 9.51 11 10.67 13.03 9.51 13.03 5.45'/%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M32.85,20.9H1V3.15A2.15,2.15,0,0,1,3.15,1H35V18.75a2.15,2.15,0,0,1-2.15,2.15Z'/%3E%3Cline class='cls-3' x1='20' y1='6.95' x2='30' y2='6.95'/%3E%3Cline class='cls-3' x1='20' y1='10.95' x2='30' y2='10.95'/%3E%3Cline class='cls-3' x1='20' y1='14.95' x2='30' y2='14.95'/%3E%3C/g%3E%3C/svg%3E");
                    
                }
                .text {
                    p {
                        font-family: $poppins;
                        font-size: 11px;
                        letter-spacing: 0.16em;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $sbci_teal;
                        margin-left: 10px;
                    }
                }
            }

            .card-content-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                // position: relative;
                // border: 1px solid blue;
                .title {
                    font-family: $frank;
                    font-size: 20px;
                    color: $sbci_teal; 
                    font-weight: 700;
                    @include line-clamp(1);
                }

                .desc {
                    padding-top: 20px;
                    font-family: $poppins;
                    font-size: 16px;
                    line-height: 24px;
                    @include line-clamp(4);
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: $sbci_teal;
                }

                .card-link-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    // border: 1px solid red;
                    // position: absolute;
                    // bottom: 0;
                    a {
                        font-size: 15px;
                        padding-bottom: 5px !important;
                    }
                }
                .card-link-container-mulitple {
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid red;
                    // position: absolute;
                    // bottom: 0;
                    a {
                        font-size: 15px;
                        width: max-content;
                        padding-bottom: 5px !important;
                        &:nth-child(2n) {
                            margin-top: 10px;
                        }
                        &:nth-child(2n-1) {

                        }
                    }
                }
            }


        }
    }

    .container-bottom {
        .btn__primary {
            width: 100%;
        }
    }
}

@media (min-width: 480px) {
    .section__resources {
        .resource-cards__container {
            .card {
                .card-type-container {
                    .text {
                        p {
                            font-size: 12px;
                        }
                    }
                }
                .card-content-container {
                    .card-link-container-mulitple {
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start !important;
                        width: 100%;
                        a {
                            &:nth-child(2n) {
                                margin-top: 0px;
                                margin-left: 20px;
                            }
                            &:nth-child(2n-1) {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section__resources {
        padding: 110px 0;
        .section_top {
            flex-direction: row;
            text-align: left;
            align-items: center;
            justify-content: space-between;
            .section_title {
                padding-bottom: 0px;
            }
            .btn__primary {
                display: inline-flex;
                margin: 0 !important;
            }
        }
        .resource-cards__container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            .card {
                position: relative;
                .card-content-container {
                    // max-height: 100%;
                    // margin-bottom: 30px;
                    // position: relative;
                    .desc {
                        font-size: 18px;
                        margin-bottom: 0;
                        
                    }
                    .card-link-container, .card-link-container-mulitple {
                        margin-bottom: 0;
                        // position: absolute;
                        // bottom: 30px;
                        // bottom: 0 !important;
                        margin-top: 20px;
                        // width: calc(100% - 60px);
                    }
                }
            }

        }

        .container-bottom {
            .btn__primary {
               display: none;
            }
        }


    }
}


@media (min-width: 1200px) {
    .section__resources {
        .resource-cards__container {
            grid-template-columns: repeat(3, 1fr);
            .card {
                padding: 40px 30px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .section__resources {
        .resource-cards__container {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            .card {
                padding: 40px 30px;
                // max-height: 340px;
                .card-type-container {
                    .icon.member {
                        // width: 36px;
                        // height: 22px;
                        width: 28px;
                        height: 17px;
                    }
                    .icon.public {
                        // width: 32px;
                        // height: 24px;
                        width: 28px;
                        height: 21px;
                    }
                }
                .card-content-container {
                    text-align: left;
                    .title {
                        margin-right: auto;
                        font-size: 24px;
                    }
                }
                .card-link-container {
                    left: 30px;
                    right: auto;
                    margin-right: auto;
                    a {
                        text-align: left; 
                    }
                }
                .card-link-container-mulitple {
                    a {
                        &:nth-child(2n) {
                            margin-left: 10px !important;
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 1750px) {
    .section__resources {
        .resource-cards__container {
            .card {
                .card-link-container-mulitple {
                    a {
                        &:nth-child(2n) {
                            margin-left: 20px !important;
                        }
                    }
                }
            }
        }
    }
}