  /* ==========================================================================
     Section/FeServices Blocks - Front Page
   ========================================================================== */
   
   .section__services {
      background: $sbci_teal-bright;
      padding-top: 100px;
      padding-bottom: 70px;

      .wrapper {
         margin-top: -370px;
      }

      .section_title {
         padding: 0;
         margin: 0;
         padding-bottom: 20px;
      }

      h3 {
         margin: 0;
      }

    .service-cards__container {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       .card {
          width: 100%;
          background: $sbci_teal;
          color: $white;
          margin: 10px 0;
          padding: 25px;
          position: relative;
          overflow: hidden;
          height: 280px;
          .card-num {
             position: absolute;
             top: -50px;
             right: -60px;
             font-family: $frank;
             color: transparent;
             -webkit-text-stroke: 3px $sbci_teal-bright;
             font-size: 300px;
             z-index: 1;
             overflow: hidden;
             opacity: 0.3;
          }

          .card-container {
             height: 100%;
             display: flex;
             flex-direction: column;
          }
          .card-title {
             font-family: $frank;
             font-size: 20px;
             font-weight: 700;
             position: static;
             z-index: 2;
             &:before {
                content: ' ';
                position: absolute;
                left: 0;
                background: $sbci_lime;
                height: 30px;
                width: 10px;
                top: 20px;
                left: 0;
             }
          }
          .card-content-container {
            position: absolute;
            bottom: 25px;
            left: 25px;
            right: 25px;
            .card-desc {
               font-family: $poppins;
               font-size: 16px;
               font-weight: 500;
               position: relative;
               z-index: 2;
               line-height: 24px;
               // desktop: poppins, medium, 18px, line-height 30px
            }
            .card-link {
               padding-top: 30px;
               z-index: 2;
               font-family: $poppins;
               a {
                  color: $white;
                  font-size: 14px;
                  font-family: $poppins;
                  font-weight: 700;
                  &:after {
                     background: $sbci_lime;
                  }
               }
            }
          }

       }
    }

    .cta_callout {
      //  margin-top: 110px;
      margin-top: 70px;
       width: 100%;
       background: $white;
       display: flex;
       flex-direction: column;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       .content_container {
         //  border: 1px solid red;
       }
       .content-left {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 30px;

         .icon {
            background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 33.46 27.14'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3CclipPath id='clip-path'%3E%3Crect class='cls-1' width='33.46' height='27.14'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eicon--chat-green%3C/title%3E%3Cg class='cls-2'%3E%3Cpath class='cls-3' d='M6.77,15.91H1V2.61A1.61,1.61,0,0,1,2.61,1H26.47V7'/%3E%3Cpath class='cls-3' d='M8.6,7A1.62,1.62,0,0,0,7,8.6V21.9h5V25l3.72-3.1H30.85a1.61,1.61,0,0,0,1.61-1.61V7Z'/%3E%3Cline class='cls-3' x1='11.6' y1='12.54' x2='28.6' y2='12.54'/%3E%3Cline class='cls-3' x1='11.6' y1='16.54' x2='28.6' y2='16.54'/%3E%3C/g%3E%3C/svg%3E");
            background-size: 53px 44px;
            width: 53px;
            height: 44px;
            background-repeat: no-repeat;
         }
          svg {
             width: 53px;
             height: 44px;
          }
          h3 {
            text-align: center;
            padding: 10px 20px 0 20px;
            font-size: 30px;
            // font-size: 16px;
          }
          p {
             font-family: $frank;
             font-size: 24px;
             color: $sbci_teal;
             font-weight: 700;
             text-align: center;
             padding-top: 20px;
          }
       }
       .content-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          p {
             font-family: $poppins;
             text-align: center;
             font-size: 16px;
             line-height: 27px;
             padding: 10px 20px;
             color: $sbci_teal;
             font-weight: 500;
          }
          .btn {
             margin-left: 20px;
             margin-right: auto;
             margin-left: auto;
             margin-bottom: 30px;
            &:hover {
               border: 2px solid $sbci_teal !important;
            }
          }
       }
    }
 }

 @media (min-width: 375px) {
   .section__services {
      .wrapper {
         margin-top: -400px;
      }
   }
 }

 @media (min-width: 430px) {
   .section__services {
      .wrapper {
         margin-top: -390px;
      }
   }
 }

 @media (min-width: 480px ) {
    .section__services {
      .wrapper {
         margin-top: -380px;
      }
  
       .service-cards__container {
          .card {
             height: 250px;
          }
       }
    }
 }

 @media (min-width: 500px) {
   .section__services {
      .wrapper {
         margin-top: -370px;
      }
   }
 }

 @media (min-width: 520px) {
   .section__services {
      .wrapper {
         margin-top: -410px;
      }
   }
 }


 @media (min-width: 550px ) {
    .section__services {
      .wrapper {
         margin-top: -380px;
      }
       .service-cards__container {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          .card {
             margin: 0px;
             height: 320px;
             .card-title {
                font-size: 24px;
                &:before {
                  top: 22.5px;
               }
             }
             .card-desc {
                font-size: 18px;
                line-height: 30px;
             }
          }
       }
    }
 }

 @media (min-width: 620px) {
   .section__services {
      .wrapper {
         margin-top: -370px;
      }
   }
 }

 @media (min-width: 650px) {
   .section__services {
      .wrapper {
         margin-top: -340px;
      }
   }
 }

 @media (min-width: 700px) {
   .section__services {
      .wrapper {
         margin-top: -360px;
      }
   }
 }

 @media (min-width: 750px) {
   .section__services {
      .wrapper {
         margin-top: -350px;
      }
   }
 }


 @media (min-width: 768px ) {
   .section__services {
      padding-bottom: 110px;
      .wrapper {
         margin-top: -360px;
      }
      .section_title {
         padding-bottom: 40px;
       }
      .service-cards__container {
         .card {
            height: 280px;
            .card-title {
               font-weight: 700;
            }
         }
      }

      .cta_callout {
         flex-direction: row;
         margin-top: 100px;
         padding: 30px;
         .content_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
         .content-left {
            width: calc(30% - 10px);
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icon {
               margin-right: auto;
            }

            h3 {
               text-align: left;
               padding: 0;
               // margin: 0;
               // margin-top: 20px;
               // padding-left: 0 !important;
            }

            .section_title {
               padding-bottom: 0;
               margin-left: 0;
            }

            p {
               text-align: left;
               font-size: 30px;
            }
         }
         .content-right {
            padding: 0px;
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(70% - 10px);

            p {
               text-align: left;
               font-size: 18px;
               padding: 0;
            }
            .btn {
               margin: 20px auto 0 0 !important;
            }
         }
      }
   }
}

@media (min-width: 800px) {
   .section__services {
      .wrapper {
         margin-top: -380px;
      }
   }
 }

 @media (min-width: 900px) {
   .section__services {
      .wrapper {
         margin-top: -410px;
      }
   }
 }

 @media (min-width: 950px) {
   .section__services {
      .wrapper {
         margin-top: -410px;
      }
   }
 }

@media (min-width: 992px ) {
   .section__services {
      .wrapper {
         margin-top: -370px;
      }
  
      .service-cards__container {
         .card {
            padding: 40px;
            .card-title {
               &:before {
                  top: 35px;
               }
            }
            .card-content-container {
               bottom: 40px;
               left: 40px;
               right: 40px;
               .card-desc {

               }
               .card-link {

               }
            }
         }
      }
      .cta_callout {
         padding: 50px 100px 50px 50px;
         .content-left {
            p {
               font-size: 40px;
            }
            h3 {
               font-size: 40px;
            }
         }
         .content-right {
            .btn {
               margin-top: 40px !important;
            }
         }
      }
   }
}

 @media (min-width: 1200px ) {
    .section__services {
      .wrapper {
         margin-top: -320px;
      }
       .service-cards__container {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
       }
       .cta_callout {
         .content-left {
            // padding: 40px;
         }
         .content-right {
            // padding: 40px;
            .btn {
               // margin-top: 40px !important;
            }
         }
      }
    }
 }

 @media (min-width: 1440px ) {
    .section__services {
      .wrapper {
         margin-top: -420px;
      }
       .service-cards__container {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;
         .card {
            height: 390px;
            .card-num {
               top: -70px;
               font-size: 380px;
            }
            .card-content-container {
               .card-desc {
                  font-size: 18px;
                  line-height: 30px;
                }
            }
         }
       }

       .cta_callout {         
         .content-left {
            // padding: 70px;
         }
         .content-right {
            // padding: 70px;
            p {
               font-size: 22px;
               line-height: 35px;
            }
            .btn {
               a {
                  font-size: 18px;
               }
            }
         }
      }
    }
 }

 @media (min-width: 1550px ) {
   .section__services {
      .wrapper {
         margin-top: -410px;
      }
      .section_title {
         // padding-bottom: 70px;
      }
      .service-cards__container {
        .card {
           .card-content-container {
             .card-link {
               .button {
                  font-size: 16px;
                  line-height: 28px;
               }
             }
           }
        }
      }
   }
}

@media (min-width: 1850px ) {
   .section__services {
      .wrapper {
         margin-top: -400px;
      }
   }
}

@media (min-width: 1920px ) {
   .section__services {
      .wrapper {
         // margin-top: -360px;
      }
   }
}
