  /* ==========================================================================
     Section/Image Gallery - Pattern Library
   ========================================================================== */

.section__img-gallery, .section__img-grid {
    .section_title {
        margin-bottom: 20px;
    }
}

.section__img-gallery {
    .container {
        position: relative;
    }
    .slider {
        position: relative;
        
        li {
            width: 100%;
            height:  100%;
            position: absolute;
            top: 0px;
            left: 0;
            opacity: 0;
            font-size: 0 !important;
            line-height: 0 !important;
            transition: opacity 0.4s ease;
            padding: 0;
            margin: 0;
            text-indent: 0;
            &:before {
                content: none;
            }
            &.active {
                position: relative;
                z-index: 1;
                opacity: 1;
                padding: 0;
                margin: 0;
                
            }
            img, .image {
                width: 100%;
                height:  auto;
                max-height: 800px;
            }
        }
        .caption {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // right: 0;
            z-index: 1;
            color: $white;
            padding: 10px 20px;
            z-index: 9999;
           
        }
    }


    .slider-container {
        position: relative;
        // border: 2px solid red;
        margin: 20px 0;
        .btn__toggle {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 50px;
            height: 50px;
            border: none;
            background: $white;
            color: white;
            cursor: pointer;
            margin: 0 !important;
            &:hover {
                svg {
                    .cls-3 {
                        stroke: #9faaad;
                    }
                }
            }
            .icon {
                top: 0;
            }
            &-prev {
                left: 0px;
                svg {
                    width: 11px;
                    height: 19px;
                    transition: margin-left 0.4s ease-in-out;
                }
                &:hover {
                    svg {
                        margin-left: -10px;
                    }
                }
            }
            &-next {
                right: 0px;
                svg {
                    width: 11px;
                    height: 19px;
                    transition: margin-right 0.4s ease-in-out;
                    transform: rotate(180deg);
                }
                &:hover {
                    svg {
                        margin-right: -10px;
                    }
                }
            }
        }
    
        .slider__toggles {
            display: flex;
            flex-direction: row;
            margin: 0;
            width: 100%;
            li {
                width: calc(100% / 4);
                margin: 0 10px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:before {
                    content: none;
                }
                img {
                    width: 100%;
                    height: auto;
                    max-height: 250px;
                }
            }
        }
    }

}

// $colors: red, orange, yellow, green, blue, purple;
$heights: 200, 400;

.section__img-grid {
    width: 100%;
    .section_title {
        // color: nth($colors, random(length($colors)));
    }
    .masonry-with-columns {
        // columns: auto 200px;
        columns: auto 4;
        // column-gap: 1rem;

        .image-container { //
            width: 150px;
            color: white;
            margin: 0 1rem 1rem 0;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-family: system-ui;
            font-weight: 900;
            font-size: 2rem;
            position:relative;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                position:relative;
            }
            &:hover {
                > .image-overlay {
                    opacity: 0.7;
                    .line_horizontal, .line_vertical {
                        opacity: 1;
                    }
                }
            }
            .image-overlay {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                background: $sbci_lime;
                opacity: 0;
                top: 0;
                z-index: 999;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .line_horizontal {
                    width: 30px;
                    height: 3px;
                    background: white;
                    position: absolute;
                    z-index: 9999;
                }
                .line_vertical {
                    height: 30px;
                    width: 3px;
                    background: white;
                    position: absolute;
                    z-index: 9999;
                }
            }
        }

        @for $i from 1 through 36 { 
          .image-container:nth-child(#{$i}) {
            // $h: (random(250) + 150) + px;
            $h: nth($heights, random(length($heights)))  + px;
            height: $h;
            line-height: $h;
          }
        }


      }




      
}

@function random_element($elements...) {
    @return nth($elements, random(length($elements)));
}




