/* ==========================================================================
   Section/Logos - Pattern Library
   ========================================================================== */

.section__logos {
    .title {
        color: $sbci_teal;
        margin-bottom: 15px;
        font-weight: 600 !important;
    }

    .logos_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        .logo {

            img {
                width: 100%;
                height: auto;
            }

        }
    }
}
