/* ==========================================================================
   Section / Main Content - Pattern Library
        1 col text/image/quote/video
        2 col text/image/quote/video
        3 col text/image
   ========================================================================== */

body > div:first-of-type {
    // margin-top: 100px;
    .section__main-content {
    
        p, .content {
            font-size: 18px;
            line-height: 27px !important;
            font-weight: 900 !important;
            font-family: $frank;
            a {
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit !important;
                &:after {
                    background: $sbci_lime;
                    height: 2px;
                }
            }
        }
    }
}

.bg_white {
    background: $white;
}
.bg_grey {
    background: $sbci_grey-light;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section__main-content {
    position: relative;
    // Main titles
    h3, .title {
        font-weight: 700 !important;
        margin-bottom: 15px;
    }

    // Title for One Column
    .title_one-col {
        margin-bottom: 15px;
        font-weight: 600 !important; 
    }

    // Content
    p, .content {
        font-size: 16px;
        font-weight: 500 !important;
        line-height: 24px !important;

        a {
            font-family: inherit;
            font-size: inherit;
            padding-bottom: 0px;
            font-weight: 500 !important;
            &:after {
                background: $sbci_teal;
                height: 1px;
            }
        }

        + p {
            margin-top: 20px;
        }
    }

    // Images
    .image__holder {
        position: relative;
        .image {
          display: block;
          width: 100%;
          height: auto;
        }

        .image__caption {
          width: 100%;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400 !important;
          position: relative;
          padding-left: 15px;
          text-transform: capitalize;
          margin-top: 5px;
          &:after {
            content: '';
            width: 5px;
            position: absolute;
            left: 0;
            top:0; 
            height: 100%;
            background: $sbci_teal-bright;
          }
        }

        .image__caption.one_col {
            position: absolute;
            bottom: 0;
            background-color: rgba(255,255,255, 0.8);
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px;
            width: max-content;
            max-width: 100%;
            &:after {
                content: none;
            }
        }
    }




    // Moved Pull Quote Styles to its own stylesheet for reusability
    // // Pull Quote
    // .pull_quote_new {
    //     position: relative;
    //     width: 100%;
    //     padding: 40px 20px 20px 20px;
    //     background: $white;
    //     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    //     border-radius: 20px 0;
    //     .pq_icon {
    //         height: 55px;
    //         width: 70px;
    //         position: absolute;
    //         top: -20px;
    //         left: 20px;
    //         svg {
    //             height: 100%;
    //             width: 100%;
    //             fill: $sbci_lime;
    //         }
    //     }
    // }
    // .pull_quote_new_slider {
    //     width: 100%;
    //     margin: 0 auto;
    //     position: relative;
    //     margin-top: 30px;
    //     ul {
    //       position: relative;

    //       li {
    //         display: -webkit-flex;
    //         display: -ms-flex;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         width: 100%;
    //         height: max-content;
    //         position: absolute;
    //         opacity: 0;
    //         transition: opacity 1s ease;
    //         // border: 1px solid blue;
    //         margin-top: 0px;
    //         text-indent: 0;
    //         padding: 0;

    //         &:before {
    //             content: none;
    //         }

    //         &.active {
    //           opacity: 1;
    //           z-index: 10;
    //           transition: opacity 1s ease;
    //         }

    //         .quote {
    //             font-family: $frank;
    //             font-size: 20px;
    //             font-weight: 900;
    //             text-transform: capitalize;
    //         }

    //         .quote_bottom {
    //             display: flex;
    //             margin-top: 30px;
    //             .author {
    //                 font-family: $poppins;
    //                 font-weight: 600;
    //                 position: relative;
    //                 padding-left: 15px;
    //                 text-transform: capitalize;

    //                 &:before {
    //                     content: ' ';
    //                     height: calc(100% - 10px);
    //                     width: 2.87px;
    //                     background: $sbci_teal-bright;
    //                     position: absolute;
    //                     left: 0;
    //                     top: 5px;
    //                 }
    //                 .author_title {
    //                     font-weight: 400;
    //                     text-transform: capitalize;
    //                 }
    //             }
    //         }
    //       }
    //     } 
    // }
    // .pq_slider__toggle {
    //     margin-top: 40px;
    //     z-index: 15;

    //     ul {
    //         display: -webkit-flex;
    //         display: -ms-flex;
    //         display: flex;
    //         justify-content: center;

    //         li {
    //             cursor: pointer;
    //             position: relative;
    //             width: 24px;
    //             height: 4px;
    //             background: #b2b2b2;
    //             margin: 0 3px;
    //             transition: background-color 0.4s ease-in-out;

    //             &:before {
    //                 content: none;
    //             }

    //             &.active {
    //                 width: 50px;
    //                 background: $sbci_teal;
    //                 &::after {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }

    // Video Section Title
    .video_section_title,
    .video_section_title.stretch {
        color:$sbci_teal;
        font-weight: 600;
        font-size: 21px;
        line-height: 31px;
        font-family: $poppins;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .video_section_title.hide {
        display: none;
    }


    // Videos - Full Width with Content Beside Only
    .video-container.with-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .video__wrapper {
            width: 100%;
            iframe {
                min-height: 400px;
               
            }
        }
        .video__caption {
            position: absolute !important;
            top: 20px  !important;
            left: 20px !important;
            width: calc(100% - 40px);

            .video_title {
                // width: calc(50% - 40px) !important;
                
            }
        }
        .video__aside {
            width: 100%;
            margin-top: 20px;
            .aside_title {
                font-size: 18px;
                font-weight: 700 !important;
            }
            .aside_description {
                font-size: 18px;
                font-weight: 500 !important;
            }
        }
    }

    // Videos - Full Width Only
    .video-container.full {
        .video__wrapper {
            iframe {
                min-height: 400px;
            }
        }
        .video__caption {
            position: absolute !important;
            top: 20px  !important;
            left: 20px !important;
            width: calc(100% - 40px);
            .video_description {
                font-family: $poppins;
                font-size: 14px;
                line-height: 30px;
                color: $white;
                font-weight: 400 !important;
                position: relative;
                padding-left: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 2.9px;
                    background: $sbci_lime;
                    height: calc(100% - 10px);
                }
            }
        }
    }

    // Videos - Half Width Only
    .video-container.half {
        .video__wrapper {
            iframe {
                min-height: 300px;
            }
        }
        .video__caption {
            .video_title {
                position: absolute;
                top: 20px;
                left: 20px;
            }
            .video_description {
                font-family: $poppins;
                font-size: 16px;
                line-height: 30px;
                color: $sbci_teal;
                font-weight: 400 !important;
            }
        }
    }

    // Videos - All
    .video-container {
        position: relative;
        .video__wrapper {
            display: inline-block;
            text-align: left;
            width: 100%;
            position: relative;
            -webkit-box-shadow: 0px 5px 13px 4px rgba(0,0,0,0.13);
            -moz-box-shadow: 0px 5px 13px 4px rgba(0,0,0,0.13);
            box-shadow: 0px 5px 13px 4px rgba(0,0,0,0.13);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                padding: 30px;
                background: rgba($sbci_teal, 0.8);
            }
            .color-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($sbci_teal, 0.8);
            }
            .video__play {
                @extend %pos-absolute;
                bottom: 0px;
                left: 20px;
                right: 20px;
                top: auto;
                color: $white !important;
                &:hover {
                    color: $sbci_teal !important;
                }
            }
            
            iframe {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        .video__caption {
            .video_title {
                font-family: $frank;
                font-size: 18px;
                color: $white;
                font-weight: 700 !important;
            }
            .video_description {
                // font-family: $poppins;
                // // font-size: 18px;
                // font-size: 16px;
                // line-height: 30px;
                // color: $sbci_teal;
                // font-weight: 400 !important;
            }
        }
        

    }

}




// Media Queries
@media (min-width: 480px) {

}

@media (min-width: 768px) { //tablet
    body > div:first-of-type {
        .section__main-content {
        
            p, .content {
                font-size: 20px;
                line-height: 30px !important;
            }
        }
    }
    .section__main-content {
        p, .content {
            font-size: 18px;
            line-height: 30px !important;
        }

        // Video Section Title
        .video_section_title, .video_section_title.stretch {
            font-size: 24px !important;
            line-height: 36px;
        }

        .video_section_title.stretch {
            width: 200%;
        }
        
        // // New below
        // .pull_quote_new {
        //     padding: 40px;
        //     .pq_icon {
        //         left: 40px;
        //     }

        // }
        // .pull_quote_new_slider {
        //     ul {
        //         li {
        //             .quote_bottom {
        //                 .author {
        //                     &:before {
        //                         height: calc(100% - 16px);
        //                         top: 8px;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        // .pq_slider__toggle {
        //     ul {
        //         justify-content: flex-start;
        //     }
        // }

        // Videos - Full Width with Content Beside Only
        .video-container.with-content {
            flex-direction: row;
            .video__wrapper {
                width: calc(50% - 10px);
                iframe {
                    min-height: 360px;
                }
            }
            .video__caption {
                width: calc(50% - 40px);
                .video_title {
                    width: 100%;
                    // border: 1px solid white;
                }
            }
            .video__aside {
                width: calc(50% - 10px);
            }
        }

        //  Videos - Full Width Only
        .video-container.full {
            .video__wrapper {
                iframe {
                    min-height: 500px;
                }
            }
        }

        // Videos - Half Width Only
        .video-container.half {
            .video__caption {
                .video_title {
                    left: 20px !important;
                }
            }
        }

        // Videos All
        .video-container {
            .video__caption {
                .video_title {
                    left: 30px !important;
                    top: 30px !important;
                    width: calc(100% - 60px);
                }
            }
            .video__play {
                left: 30px;
                max-width: 100px;
            }
        }



        
    }


}

@media (min-width: 1440px) { //desktop
    body > div:first-of-type {
        margin-top: 100px;
        .section__main-content {
            p, .content {
                font-size: 26px;
                line-height: 39px!important;
            }
        }
    }


    .section__main-content {

        //  Content
        p, .content {
            font-size: 18px;
            line-height: 30px !important;
        }

        // Images
        .image__holder {
            .image__caption {
            font-size: 16px !important;
            line-height: 25px !important;
            margin-top: 15px;
            }
            .image__caption.one_col {
                padding: 20px;
            }
        }

        // // New below
        // .pull_quote_new {
        //     padding: 75px 105px 50px 70px;
        //     .pq_icon {
        //         left: 70px;
        //     }
        // }
        // .pull_quote_new_slider {
        //     margin-top: 0px;
        //     ul {
        //         li {
        //             .quote {
        //                 font-size: 26px;
        //                 line-height: 38px;
        //             }
        //         .quote_bottom {
        //             margin-top: 30px;
        //         }
        //     }
        //     }  
        // }
        // .pq_slider__toggle {
        //     margin-top: 60px;
        // }
        // // New above


        // Pull Quote - 2 Col
        .pull_quote.full {
            padding: 75px 105px 45px 70px;
            .quote_bottom {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .toggles {
                    margin-top: 0px;
                }
            }
        }

        // Pull Quote - 2 Col
        .pull_quote.half {
            padding: 70px 70px 50px 70px;
        }

        // Pull Quote
        .pull_quote {
            .pq_icon {
                left: 60px;
            }
            .quote {
                font-size: 26px;
                line-height: 38px;
            }
        }

        // Video Section Title
        .video_section_title {
            font-size: 28px !important;
        }


        // Videos - All
        .video-container {
            .video__wrapper {
                .video__play {
                    left: 40px;
                    margin-bottom: 40px;
                }
            }
            .video__caption {
                .video_title {
                    font-size: 24px !important;
                }
                .video_description {
                    font-size: 18px !important;
                }
            }
        }

        // Videos - Full Width Only
        .video-container.full {
            .video__caption {
                top: 40px  !important;
                left: 40px !important;
                width: calc(100% - 80px);
            }
        }

        // Videos - Half Width Only
        .video-container.half {
            .video__caption {
                .video_title {
                    top: 40px  !important;
                    left: 40px !important;
                    width: calc(100% - 80px);
                }
            }
        }

        // Videos - Full Width with Content Beside Only
        .video-container.with-content {
            .video__caption {
                top: 40px  !important;
                left: 40px !important;
                width: calc(50% - 80px) !important;
                .video_title {
                    width: 100%;
                }
            }
        }

    }
}



