/* ==========================================================================
   Section / Page Banner
   ========================================================================== */
    .page_banner {
        height: 200px;
        width: 100%;
        position: relative;
        .wrapper-banner {
            height: 100%;
            padding: 0 35px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }

            .title-breadcrumbs-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                .wrapper {
                    padding: 0;
                }
                .page_title {
                    color: $sbci_teal-bright;
                    position: absolute;
                    top: 60px;
                }

                .breadcrumbs {
                    position: absolute;
                    bottom: 0px;
                    padding-bottom: 20px;
                    ul {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        li {
                            padding-left: 15px;
                            padding-right: 15px;
                            border-right: 1px solid $sbci_teal-bright;
                            a {
                                color: $white;
                                position: relative;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 400;
                                &:after {
                                    content: " ";
                                    position: absolute;
                                    bottom: -20px;
                                    left: 0;
                                    background: transparent;
                                    height: 5.18px;
                                    width: 100%;
                                }
                                &:hover {
                                    &:after {
                                        content: " ";
                                        position: absolute;
                                        bottom: -20px;
                                        left: 0;
                                        background: $sbci_lime;
                                        height: 5.18px;
                                        width: 100%;
                                    }
                                }
                            }
                            &:first-child {
                                padding-left: 0px;
                            }
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }
            
    }


@media(min-width: 480px) {
    .page_banner {
        height: 240px;
        .wrapper-banner {
            padding: 0 30px;
        }
    }
}

@media(min-width: 768px) {
    .page_banner {
        height: 260px;
        .wrapper-banner {
            padding: 0 60px;
        }
    }
}

@media(min-width: 992px) {
    .page_banner {
        height: 286.06px;
        .wrapper-banner {
            padding: 0 40px;
        }
    }
}

@media(min-width: 1024px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 40px;
        }
    }
}

@media(min-width: 1200px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 60px;

            .title-breadcrumbs-container {
                .breadcrumbs {
                    ul {
                        li {
                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1300px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 70px;
        }
    }
}

@media(min-width: 1440px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 70px;
        }
    }
}

@media(min-width: 1550px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 90px;
        }
    }
}

@media(min-width: 1750px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 170px;
        }
    }
}

@media(min-width: 1920px) {
    .page_banner {
        .wrapper-banner {
            padding: 0 150px;
        }
    }
}