  /* ==========================================================================
     Section/People - Pattern Library
   ========================================================================== */

$lightgrey: #f8f8f8;
$sidemenu_grey: #b2b2b2;

.section__people {

    .maintitle {
        margin-bottom: 40px;
    }

    .people__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .people__side-menu {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            width: calc(30% - 10px);
            border-top: 10px solid $sidemenu_grey;
            padding: 35px;
            
            .side_menu_title {
                color: $sbci_teal;
                padding: 0 0 10px 0;
            }

            .side_menu_item {
                padding: 20px 0;
                border-bottom: 1px solid $sidemenu_grey;
                position: relative;
                font-size: 18px;
                font-weight: 500;
                &:last-of-type {
                    border-bottom: none;
                }
                &.active {
                    font-weight: 600;
                    &:before {
                        content: ' ';
                        position: absolute;
                        left: -35px;
                        top: 20px;
                        width: 5px;
                        background: $sbci_lime;
                        height: calc(100% - 40px);
                    }
                }
            }
        }

        .people__container-right {
            display: flex;
            flex-direction: column;
            width: calc(70% - 10px);
            position: relative;
        }

        .people__staff {
            .people_content {
                background: $lightgrey;
                margin: 10px 0;
            }
        }

        .people__bod, .people__staff, .people__consultants {
            margin-top: 90px;

            &:first-of-type {
                margin-top: 0;
            }

            .subtitle {
                color: $sbci_teal;
                font-size: 28px;
                font-family: $poppins;
                padding-top: 0 !important;
                margin-bottom: 50px;
                font-weight: 600;
            }

            .accordion {
                border-top: 2px solid $sbci_lime;
                &:last-of-type {
                    border-bottom: 2px solid $sbci_lime;
                }
                li {
                    padding: 0!important;
                    margin: 0 !important;
                    text-indent: 0px;
                    height: max-content;
                    &::before {
                        content: none !important;
                    }
                }
            
                &.transition {
                  position: relative;
                  opacity: 0;
                }
            
                &.active {
                  opacity: 1;
                  z-index: 1;
                  position: relative;
                  width: 100% !important;
                }
            
                > li {
                  position: relative;
                  margin-left: 0;
                  padding-left: 0;
                  &.open {
                    .question {
                      .btn {
                        &:before {
                          opacity: 0;
                        }
                        &:after {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
            }
              
            
            .question {
                border: none;
                outline: none;
                background: transparent;
                position: relative;
                padding: 20px 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                cursor: pointer;
        
                &:active {
                    color: $white;
                }
        
                &:hover {
                    .btn {
                        background-position: 0 0;
                    }
                }
        
                .title {
                    font-size: 24px !important;
                    font-weight: 700;
                    margin-right: 40px;
                }
        
                .btn {
                    position: absolute;
                    right: 0px !important;
                    padding: 0;
                    height: 45px;
                    width: 45px;
                    display: flex;
                    align-items: center;
                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        color: $white;
                        margin: auto;
                        transition: opacity 0.4s ease;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:before {
                        content: ' ';
                        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23042c33;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eleft-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='10 16.83 2.12 8.94 10 1.06'/%3E%3C/g%3E%3C/svg%3E");
                        background-size: auto 19px;
                        background-repeat: no-repeat;
                        transform: rotate(270deg);
                        width: 11px;
                        height: 19px;
                    }
                    &:after {
                        content: ' ';
                        opacity: 0;
                        background-size: 100%;
                        width: 19px;
                        height: 3.5px;
                        background: $sbci_teal;
                    }
                }
            }
        
            .answer {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
                width: 100%;
                .answer__content {
                    width: 100%;
                    padding-bottom: 20px !important;
                }
            }

            .people_content {
                display: flex;
                flex-direction: column;

                .container_top {
                    padding: 0;
                    padding: 15px;
                    background: $lightgrey;
                    .school-board {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }

                .container {
                    display: flex;
                    flex-direction: row;
                    
                    .container_left {
                        img {
                            max-width: 150px;
                            float: left;
                        }
                    }

                    .container_right {
                        padding: 15px;
                        .name-title-container {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;
                            .person_name {
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .person_title {
                                font-family: $frank !important;
                                font-weight: 500 !important;
                                font-size: 18px;
                            }
                        }

                        .contact__container {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            .contact-item {
                                display: flex;
                                flex-direction: row;
                                margin-right: 40px;
                                margin-bottom: 10px;
                                svg {
                                    width: 19px;
                                    height: 23px;
                                    margin-right: 10px;
                                    .cls-3 {
                                        stroke:$sbci_teal-light;
                                    }
                                    .cls-4 {
                                        fill : $sbci_teal-light;
                                    }
                                }
                            }

                        }
                    }
                }




            }
        }

        .people__consultants {
            width: 100%;

            .answer__content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                .consultant_card {
                    background: $lightgrey;
                    .container_top {
                        img {
                            width: 100%;
                        }
                    }
                    .container_bottom {
                        padding: 25px;
                        .c_name {
                            font-family: $poppins;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .c_title {
                            font-family: $frank;
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .contact__container {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin-top: 20px;
                            .contact-item {
                                display: flex;
                                flex-direction: row;
                                margin-right: 40px;
                                margin-bottom: 10px;
                                svg {
                                    width: 18px;
                                    margin-right: 8px;
                                    .cls-3 {
                                        stroke:$sbci_teal-light;
                                    }
                                    .cls-4 {
                                        fill : $sbci_teal-light;
                                    }
                                }
                                p {
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                            }

                        }
                    }
                }
            }

        }
    }


}