// Pull Quote
.pull_quote_new {
    position: relative;
    width: 100%;
    padding: 40px 20px 20px 20px;
    background: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px 0;
    .pq_icon {
        height: 55px;
        width: 70px;
        position: absolute;
        top: -20px;
        left: 20px;
        svg {
            height: 100%;
            width: 100%;
            fill: $sbci_lime;
        }
    }
}
.pull_quote_new_slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    ul {
        position: relative;

        li {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: max-content;
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease;
        margin-top: 0px;
        text-indent: 0;
        padding: 0;

        &:before {
            content: none;
        }

        &.active {
            opacity: 1;
            z-index: 10;
            transition: opacity 1s ease;
        }

        .quote {
            font-family: $frank;
            font-size: 20px;
            font-weight: 900;
            text-transform: capitalize;
        }

        .quote_bottom {
            display: flex;
            margin-top: 30px;
            .author {
                font-family: $poppins;
                font-weight: 600;
                position: relative;
                padding-left: 15px;
                text-transform: capitalize;

                &:before {
                    content: ' ';
                    height: calc(100% - 10px);
                    width: 2.87px;
                    background: $sbci_teal-bright;
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                .author_title {
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
        }
    } 
}
.pq_slider__toggle {
    margin-top: 40px;
    z-index: 15;

    ul {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        // justify-content: center;
        justify-content: flex-start;
        li {
            cursor: pointer;
            position: relative;
            width: 24px;
            height: 4px;
            background: #b2b2b2;
            margin: 0 3px;
            transition: background-color 0.4s ease-in-out;

            &:before {
                content: none;
            }

            &.active {
                width: 50px;
                background: $sbci_teal;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    // New below
    .pull_quote_new {
        padding: 40px;
        .pq_icon {
            left: 40px;
        }

    }
    .pull_quote_new_slider {
        ul {
            li {
                .quote_bottom {
                    .author {
                        &:before {
                            height: calc(100% - 16px);
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
    .pq_slider__toggle {
        ul {
            justify-content: flex-start;
        }
    }
}

@media (min-width: 1440px) {
    // New below
    .pull_quote_new {
        padding: 75px 105px 50px 70px;
        .pq_icon {
            left: 70px;
        }
    }
    .pull_quote_new_slider {
        margin-top: 0px;
        ul {
            li {
                .quote {
                    font-size: 26px;
                    line-height: 38px;
                }
            .quote_bottom {
                margin-top: 30px;
            }
        }
        }  
    }
    .pq_slider__toggle {
        margin-top: 60px;
    }
    // New above
}