/* ==========================================================================
   Section/Section - Global Styles
   ========================================================================== */

    .page_section {
        margin: 60px 0;
        .section_title {
            color: $sbci_teal;
            font-size: 40px;
            font-family: $frank;
            font-weight: 700;
            padding-top: 0 !important;
        }
        &.section__why-sbci-callout {
        //    margin-top: 60px;
        }
    }
    .section, .page_section {
        h1 { /* 50px, bold 700, frank, teal */ }
        h2 { /* 40px, bold 700, frank, teal */ }
        h3 { /* 28px, semi-bold 600, frank, teal */ }
        h4 { /* 24px, semi-bold 600, frank, teal */ }
        h5 { /* 22px, semi-bold 600, frank, teal */ }
        h6 { /* 20px, semi-bold 600, frank, teal */ }

        p {
            // margin-bottom: 10px;
            + h2, + h3, + h4, + h5, + h6 {
                // margin-top: 40px;
                // margin: 0;
            }
        }

        h2, h3, h4, h5, h6 {
            margin: 0 ;
        }

        .section_title {
            color: $sbci_teal;
            font-size: 30px;
            font-family: $frank;
            font-weight: 700;
            padding-top: 0 !important;
        }

        p {
            // color: $sbci_teal;
        }

        a {
            color: $sbci_teal;
            font-size: 16px;
            letter-spacing: 0.03em;
            text-decoration: none;
            position: relative;
            font-weight: 700;
            padding-bottom: 2px;
            font-family: $poppins;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: $sbci_teal-bright;
                bottom: 0;
                left: 0;
                transform: scaleX(1);
                transition: transform 250ms ease-in-out;
            }
            &:hover:after {
                transform: translateX(-40%) scaleX(0.2);
            }
        }

        // List Styles
        ul, ol {
            li {
                font-family: $poppins;
                font-size: 16px;
                font-weight: 500 !important;
                line-height: 24px !important;
                color: $sbci_teal;
                margin: 10px 0;
                text-indent: -15px;
                padding-left: 15px;
                &:before {
                    color: $sbci_teal-bright;
                    font-weight: 700;
                }
            }
        }

        // Unordered List - Bullet Points
        ul {
            li {
                &:before {
                    content: "+";
                    color: $sbci_teal-bright;
                    font-weight: 700;
                    margin-right: 5px;
                }

                ul {
                    li { // Nested #1
                        &:before {
                            content: "-";
                            color: $sbci_teal;
                        }
                    }
                }
            }
        }

        // Ordered List - Numbered Points
        ol {
            counter-reset: list;
            li {
                &:before {
                    counter-increment: list;
                    content: counter(list) " ";
                    margin-right: 3px;
                }

                ol, ul {
                    counter-reset: list;
                    li { // Nested #1
                        &:before {
                            content: counter(list, upper-alpha) " " !important;
                            color: $sbci_teal !important;
                        }

                        ol, ul {
                            counter-reset: list;
                            li { // Nested #2
                                &:before {
                                    content: counter(list, lower-roman) " " !important;
                                    color: $sbci_teal !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        
 }


 @media (min-width: 768px) {
    .page_section {
        // margin: 60px 0;
        &.section__why-sbci-callout {
        //    margin-top: 30px;
        }
    }
     .section {
        .section_title {
            font-size: 40px;
         }
     }
 }

