$light_teal: #10a995;
$dark_teal: #64ae87;
$light_green: #a0cf6d;
$dark-green: #8bb03f;

.section__services-callout {
    background-repeat: no-repeat;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }
    .block__left {
        .title {
            text-align: center;
            color: $white;
        }
        .font__primary--40 {
            line-height: 40px;
        }
    }
    .block__right {
        background: $form_lightgrey;
        border-radius: 20px 0;
        padding: 20px;
        margin-top: 30px;
        
        .item-icon__container {
            position: relative;
            margin: 20px 0;
            .circle {
                position: absolute;
                top: -2px;
                left: 0;
                width: 30px !important;
                height: 30px;
                background: $white;
                box-shadow: 0 4px 4px 0 rgba(82, 64, 64, 0.1);
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.teal_light {
                    svg {
                        .cls-1 {
                            stroke: $light_teal;
                        }
                    }
                }
                &.teal_dark {
                    svg {
                        .cls-1 {
                            stroke: $dark_teal;
                        }
                    }
                }
                &.green_light {
                    svg {
                        .cls-1 {
                            stroke: $light_green;
                        }
                    }
                }
                &.green_dark {
                    svg {
                        .cls-1 {
                            stroke: $dark-green;
                        }
                    }
                }
                svg {
                    width: 15px;
                    height: 11px;
                }
            }
            .benefit_item {
                margin-left: 45px;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 992px) {
    .section__services-callout {
        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .block__left {
            width: 300px;
            .title {
                text-align: left;
                line-height: 49px;
            }
        }
        .block__right {
            margin-top: 0;
            width: calc(100% - 320px);
        }
    }
}

@media (min-width: 1200px) {
    .section__services-callout {
        .block__left {
            .title {
                text-align: left;
            }
        }
        .block__right {
            padding: 50px;
        }
    }
}

@media (min-width: 1440px) {
    .section__services-callout {
        .block__left {
            .title {
                // text-align: left;
            }
        }
        .block__right {
            // padding: 50px;
            width: calc(100% - 400px);
        }
    }
}