/* ==========================================================================
   Section / Services Template
   ========================================================================== */

.section__services-template {

    .container {
       display: flex;
       flex-direction: column-reverse;
    }

    .block__left {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-top: 7.28px solid $sbci_grey-light-2;
      padding: 20px;
      margin-top: 60px;
      .links_title {
         margin-bottom: 20px;
      }
      .links {
         padding: 20px 0;
         border-bottom: 1px solid $sbci_grey-blue;
         &:first-of-type {
            padding-top: 0;
         }
         &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
         }
         a {
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:before {
               content: ' ';
               position: absolute;
               top: 0;
               left: -20px;
               top: 5px;
               width: 5px;
               background: transparent;
               height: calc(100% - 10px);
            }
            &:after {
               content: none;
            }
            &:hover {
               font-weight: 600;
               &:before {
                  background: $sbci_lime;
               }
            }
         }
      }
    }

    .block__right {
       .content_container {
          .sub-content {
            margin-top: 20px;
            padding-bottom: 60px;
          }
          .title {
            padding-top: 60px;
            margin-bottom: 20px;
            position: relative;
            &:before {
               content: ' ';
               width: 100%;
               height: 5px;
               background: $sbci_grey-light;
               position: absolute;
               top: 0;
               left: 0;
            }
          }
       }
      .section__accordion {
         .label {
            display: none;
         }
      }
    }
}

@media (min-width: 992px) {
   .section__services-template {  
      .block__right {
        .section__accordion {
           position: relative;
           .label {
               display: inline-block;
               position: absolute;
               right: 60px;
               font-size: 18px;
               font-weight: 600;
           }
        }
      }
  }
}


@media (min-width: 1200px) {
   .section__services-template {

      .container {
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
      }
  
      .block__left {
         width: 300px;
        margin-top: 0px;
      }
  
      .block__right {
         width: calc(100% - 320px);
      }
  }
}


@media (min-width: 1440px) {
   .section__services-template {

      .container {
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
      }
  
      .block__left {
         width: 320px;
         margin-top: 0px;
      }
  
      .block__right {
         width: calc(100% - 400px);
        .section__accordion {
           .label {
              display: inline-block;
           }
        }
      }
  }
}