.section__services-member {
    .container {
        display: flex;
        flex-direction: column;
    }
    .block__left {
        text-align: center;
        .title {
            font-weight: 700;
        }
    }
    .block__middle {
        text-align: center;
        padding: 20px 0;
        .content {
            font-weight: 700;
        }
        .btn {
            a {
                font-weight: 500;
            }
        }
    }
    .block__right {
        text-align: center;
        background: $white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 40px 20px;
        .icon {
            svg {
                width: 36px;
                height: 22px;
                .cls-1 {
                    stroke: $sbci_teal-light;
                }
            }
        }
        .member_title {
            font-weight: 600;
            margin-top: 20px;
        }
        .member_content {
            margin-top: 20px;
        }
        a {
            font-weight: 500;
            text-decoration: underline;
            &:after {
                content: none;
            }
        }
        p {
            font-weight: 500;
        }
    }
}



@media (min-width: 768px) {
    .section__services-member {
        .block__right {
            a {
                text-decoration: none;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1.7px;
                    background: $color-primary;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(1);
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after {
                    transform: translateX(-40%) scaleX(0.2);
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .section__services-member {
        .container {
            flex-direction: row;
            justify-content: space-between;
        }
        .block__left {
            text-align: left;
            width: calc(20% - 20px);
            padding-top: 0;
            .title {
                
            }
        }
        .block__middle {
            width: calc(40% - 20px);
            text-align: left;
            padding-top: 0;
        }
        .block__right {
            width: calc(40% - 20px);
        }
    }
}

@media (min-width: 1200px) {
    // .section__services-member {
    //     .container {
    //         flex-direction: row;
    //         justify-content: space-between;
    //     }
    //     .block__left {
    //         text-align: left;
    //         width: calc(20% - 20px);
    //         padding-top: 0;
    //     }
    //     .block__middle {
    //         width: calc(40% - 20px);
    //         text-align: left;
    //         padding-top: 0;
    //     }
    //     .block__right {
    //         width: calc(40% - 20px);
    //     }
    // }
}


@media (min-width: 1750px) {
    .section__services-member {
        .block__left {
            width: 270px;
        }
        .block__middle {
            width: calc(100% - 900px);
        }
        .block__right {
            width: 455px;
        }
    }
}

@media (min-width: 1920px) {
    .section__services-member {
        .block__middle {
            width: calc(100% - 1000px);
        }
    }
}