/* ==========================================================================
   Section/Tables - Pattern Library
   ========================================================================== */

$table_grey: #f1f1f1;
$table_lightgrey: #f8f8f8;
$table_line: #b2b2b2;

.section__table {
    h2 {
        @extend %font-secondary;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 10px;
    }
}



.page_section {
    &.tables {
        .content {
            overflow: visible;
        }
    }
    table {
        max-width: 100% !important;
        a {
            color: $sbci_teal;
            font-weight: 400;
            &:hover {
                color: $sbci_teal;
            }
        }
    }
    .wpDataTablesWrapper {
        table.wpDataTable {
            text-align: center;
            > thead {
                > tr {
                    > th {
                        font-family: $poppins;
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: capitalize;
                        border: none;
                        text-align: left;
                        padding: 25px 20px;
                        background: $table_grey;
                        &:nth-child(2n){
                            background: $table_lightgrey;
                        }
                        &:empty {
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
            }
            thead {
                // Sorting Arrow Color
                th.sorting:after,
                th.sorting_asc:after { 
                    border-bottom-color: $sbci_teal;
                }
                // Sorting Arrow Color - when sorted
                th.sorting_desc:after {
                    border-top-color: $sbci_lime;
                }
                th.sorting:after,
                th.sorting_asc:after,
                th.sorting_desc:after {
                    opacity: 1;
                }
            
                th.sorting_asc,
                th.sorting_desc,
                th.sorting:hover {
                    background: $white;
                    &:nth-child(2n){
                        // border-bottom: 2px solid $sbci_teal;
                    }
                }
            }
            > tbody,
            > tfoot {
                > tr {
                    &:last-child {
                        > td {
                            border-bottom: none;
                        }
                    }
                    > td {
                        text-align: left;
                        letter-spacing: 0;
                        background: $white;
                        border: none;
                        padding: 45px 20px;
                        border-bottom: 2px solid $table_line;
                        color: $sbci_teal;
                        font-family: $poppins;
                        font-size: 16px;
                        line-height: 25px;
                        &:nth-of-type(odd) {
                            background: $table_lightgrey;
                        }
                        strong {
                            font-size: 18px !important;
                            font-weight: 700;
                            line-height: 27px !important;
                        }
                    }
                }
            }
            tr.odd:hover > td,
            tr.odd:hover > td.sorting_1,
            tr.even:hover > td,
            tr.even:hover > td.sorting_1 {
                background: $white;
                &:nth-child(2n){
                    // border-bottom: 2px solid $sbci_teal;
                }
            }
            tr.odd td.sorting_1,
            tr.even td.sorting_1 {
                background: $white;
                &:nth-child(2n){
                    // border-bottom: 2px solid $sbci_teal;
                }
            }
        }
    }
}

/* Media Queries */
@media (min-width: 320px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}

@media (max-width: 768px) {
    .page_section {
        table {
            display: block;
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                display: block;
            }
            tr {
                padding: 20px 30px;
                text-align: right;
                border-bottom: 2px solid $table_line;
            }
            td {
                position: relative;
                &:before {
                    content: attr(data-label);
                    display: inline-block;
                    vertical-align: top;
                    font-weight: 700;
                    float: left;
                }
            }
        }
        .wpDataTablesWrapper {
            table.wpDataTable {
                > tbody {
                    > tr {
                        > td {
                            border-bottom: none;
                            padding: 0;
                            background: transparent;
                            text-align: right;
                            &:nth-child(2n) {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}