/* ==========================================================================
   Section / Membership - Why SBCI?
   ========================================================================== */

   .section__why-sbci-membership {
       .container {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;

           .block__left {
            width: 100%;
            background: $sbci_grey-light;
            border-top-left-radius: 30px;
            padding: 20px;
            padding-bottom: 50px;
            position: relative;

               .icon  {
                img, svg {
                    width: 36px;
                    height: auto;
                }
                svg {
                    .cls-1 {
                        stroke: $sbci_teal-light;
                    }
                }
               }
               p {
                   margin-top: 20px;
               }
               .btn__secondary {
                   a {
                       font-weight: 500;
                       text-align: center;
                   }
               }
           }
           .block__right {
               width: 100%;
                .pull_quote_new {
                    box-shadow: none;
                    border-radius: 0;
                }
           }
       }
   }


   @media (min-width: 768px) {
       .section__why-sbci-membership {
           .container {

           }
       }
   }

   @media (min-width: 992px) {
       .section__why-sbci-membership {
           margin-top: 100px;
           .container {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .block__left {
                    width: calc(50% - 10px);
                    padding: 50px;
                    position: relative;
                    &:before {
                        content: ' ';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: -100px;
                        left: 0;
                        background: $sbci_grey-light;
                        z-index: -1;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
                .block__right {
                    width: calc(50% - 10px);
                    .pull_quote_new_slider {
                        ul {
                            li {
                                .quote_bottom {
                                    .author {
                                        font-size: 18px;
                                        &:before {
                                            height: calc(100% - 10px);
                                            top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
           }

       }
   }

   @media (min-width: 1440px) {
    .section__why-sbci-membership {
        .container {
            .block__left {
                width: 600px;
            }
            
            .block__right {
                width: calc(100% - 640px);
                margin-top: 20px;
                
                .pull_quote_new_slider {
                    margin-top: 20px;
                }
            }
        }
    }

   }

   @media (min-width: 1850px) {
    .section__why-sbci-membership {
        .container {
            .block__left {
                width: 700px;
            }
            .block__right {
                width: calc(100% - 740px);
            }
        }
    }

   }


   @media (min-width: 1920px) {
    .section__why-sbci-membership {
        .container {
            .block__left {
                width: 730px;
            }
            .block__right {
                width: calc(100% - 770px);
            }
        }
    }

   }

    @media (min-width: 1920px) {
    .section__why-sbci-membership {
        .container {
            .block__left {
                width: 730px;
            }
            .block__right {
                width: calc(100% - 770px);
            }
        }
    }

   }