/* ==========================================================================
   Section/Callout - Why SBCI?
   ========================================================================== */

.section__why-sbci-callout {
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .content-container {
        .subcontent {
            margin-top: 20px;
        }
    }

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .image_01-container, .image_02-container {
            width: 100%;
            position: relative;

            img {
                width: 100%;
            }

            .leaf {
                position: absolute;
            }
        }

        .image_01-container {
            .leaf-med-01 {
                top: 20px;
                left: -20px;
            }
            .leaf-sm-01 {
                left: -25px;
                top: 0;
            }
        }

        .image_02-container {
            margin-top: 20px;
            .leaf-sm-02 {
                right: -25px;
                top: 20px;
            }
            .leaf-big-01 {
                display: none;
            }
            .leaf-med-02 {
                right: -25px;
                bottom: 40px;
            }
            .leaf-sm-03 {
                right: -30px;
                bottom: 15px;
            }
        }

    }
}



@media (min-width: 768px) {
    .section__why-sbci-callout {
        .image-container {
            flex-direction: row;
            .image_01-container, .image_02-container {
                width: calc(50% - 10px);
            }
            .image_02-container {
                margin-top: 0px;
            }
        }
    }
} 

@media (min-width: 1300px) {
    .section__why-sbci-callout {

        .container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        .content-container {
            width: calc(40% - 10px);
            margin-right: 20px;
        }
    
        .image-container {
            width: calc(60% - 10px);
            margin-top: 0px;
            margin-right: -20px;
            .image_02-container {
                .leaf-big-01 {
                    right: -190px;
                    top: 47px;
                    display: block;
                }
            }
        }
    }
} 


@media (min-width: 1440px) {
    .section__why-sbci-callout {
        margin-bottom: 100px;
        .container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        .content-container {
            width: calc(35% - 10px);
            margin-right: 20px;
        }
    
        .image-container {
            width: calc(65% - 10px);
            margin-top: 0px;
            margin-right: -20px;
            justify-content: flex-start;
    
            .image_01-container, .image_02-container {
                width: calc(45% - 10px);
            }
    
            .image_01-container {
                margin-right: 20px;
            }
    
            .image_02-container {
                .leaf-big-01 {
                    right: -190px;
                    top: 78px;
                    display: block;
                }
            }
        }
    }
} 

@media (min-width: 1550px) {
    .section__why-sbci-callout {
        .content-container {
            margin-right: 50px;
        }
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    right: -190px;
                    top: 100px;
                }
            }
        }
    }
} 

@media (min-width: 1750px) {
    .section__why-sbci-callout {
        .content-container {
            margin-right: 100px;
        }
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    right: -190px;
                    top: 110px;
                }
            }
    
        }
    }
} 


@media (min-width: 1800px) {
    .section__why-sbci-callout {
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    top: 130px;
                }
            }
    
        }
    }
} 

@media (min-width: 1850px) {
    .section__why-sbci-callout {
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    top: 140px;
                }
            }
    
        }
    }
} 

@media (min-width: 1900px) {
    .section__why-sbci-callout {
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    top: 155px;
                }
            }
    
        }
    }
} 

@media (min-width: 1920px) {
    .section__why-sbci-callout {
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    top: 155px;
                }
            }
    
        }
    }
} 

@media (max-width: 1920px) {
    .section__why-sbci-callout {
        .image-container {
            .image_02-container {
                .leaf-big-01 {
                    top: 140px;
                }
            }
    
        }
    }
} 