/* ==========================================================================
   Section / Benefits - Why SBCI?
   ========================================================================== */

.section__why-sbci-benefits {
    position: relative;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 60px;

    .wrapper_bottom {
        background: $white;
        height: 30px;
    }

    .section_title {
        padding-bottom: 30px;
        padding-right: 20px;
    }

    .benefits_buckets {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: -30px;

        .bucket {
            background: $white;
            height: 260px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            &:nth-of-type(2) {
                z-index: 2;
            }
            &:nth-of-type(3) {
                z-index: 3;
            }
            &:nth-of-type(4) {
                z-index: 4;
            }
            .content-container {
                width: 100%;
                height: 100%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;

                .num-container {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    .card-num {
                        position: absolute;
                        top: -70px;
                        right: -55px;
                        font-family: $frank;
                        color: transparent;
                        -webkit-text-stroke: 3px $sbci_teal-bright;
                        font-weight: 600;
                        font-size: 360px;
                        z-index: 1;
                        overflow: hidden;
                        opacity: 0.3;
                    }
                }
                .icon {
                    img {
                        width: 100px;
                        height: auto;
                    }
                    svg {
                        width: 100px;
                        height: auto;
                    }
                }

                p {
                    padding-right: 30px;
                    position: absolute;
                    bottom: 40px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }
    }

}

/* Media Queries */

@media (min-width: 768px) {
    .section__why-sbci-benefits {
        .section_title {
            padding-right: 0;
            width: 400px;
            .font__primary--40 {
                line-height: 49px;
            }
        }
        .benefits_buckets {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1200px) {
    .section__why-sbci-benefits {
        .benefits_buckets {
            grid-template-columns: repeat(4, 1fr);
            .bucket {
                height: 300px;
                .content-container {
                    .num-container {
                        .card-num {
                            font-size: 433.2px;
                            top: -90px;
                            right: -58px;
                        }
                    }
                }
            }
        }
    
    }
}


@media (min-width: 1440px) {
    .section__why-sbci-benefits {
        padding-top: 100px;
        .benefits_buckets {
            grid-gap: 30px;
        }
        .wrapper_bottom {
            // height: 100px;
        }
    }
}