/* ==========================================================================
   Global/Colors
   ========================================================================== */

/* Color Hexs */
$white: #fff;
$black: #000;
$sbci_teal: #042c33;
$sbci_teal-light: #10a995;
$sbci_teal-bright: #57a87d;
$sbci_lime: #8bb03f;
$sbci_grey: #f3f3f3; 
$sbci_grey-light: #f4f4f4;
$sbci_grey-shadow: #878787;
$sbci_grey-light-2: #b2b2b2;
$sbci_grey-blue: #9babad;

$form_grey: #f1f1f1;
$form_lightgrey: #f8f8f8;
$form_error: #E10807;

/* Primary Colors */
$color-primary: $sbci_teal;
$color-secondary: $sbci_lime;
// $color-tertiary: ;

/* Font Colors */
$color-font-primary: $sbci_teal;
// $color-font-seconday: $white;
// $color-font-tertiary: ;

/* Link Colors */