/* ==========================================================================
   Global/Fonts
   ========================================================================== */

/* Font Families */
$poppins: "Poppins", sans-serif;
$frank: "Frank Ruhl Libre", serif;

/* ==========================================================================
   Headings
   ========================================================================== */

/* Primary */
%font-primary{
	font-family: $frank;
	color: $sbci_teal;
}

// h1
.font__primary--50,
%font__primary--50 {
	@extend %font-primary;
	font-weight: 700;
	line-height: 1em;
}

// h2
.font__primary--40,
%font__primary--40 {
	@extend %font-primary;
	font-weight: 700;
	line-height: 1em;
}

// h3
.font__primary--28,
%font__primary--28 {
	@extend %font-primary;
	font-weight: 600;
	line-height: 1em;
}

// Lead Paragraph Style
.font__primary--26,
%font__primary--26 {
	@extend %font-primary;
	font-weight: 600;
	line-height: 1em;
}

// h4
.font__primary--24,
%font__primary--24 {
	@extend %font-primary;
	font-weight: 700;
	line-height: 1em;
}

// h3 subtitle
.font__primary--22,
%font__primary--22 {
	@extend %font-primary;
	font-weight: 500;
	line-height: 1em;
}


/* Secondary */
%font-secondary{
	font-family: $poppins;
	color: $sbci_teal;
}

// h1 subtitle
.font__secondary--28,
%font__secondary--28 {
	@extend %font-secondary;
	font-weight: 400;
	line-height: 1em;
}

// h2 subtitle
.font__secondary--24,
%font__secondary--24 {
	@extend %font-secondary;
	font-weight: 400;
	line-height: 1em;
}

// h4 subtitle
.font__secondary--18,
%font__secondary--18 {
	@extend %font-secondary;
	font-weight: 400;
	line-height: 1em;
}

.font__secondary--16,
%font__secondary--16 {
	@extend %font-secondary;
	font-weight: 400;
	line-height: 1em;
}


/* Tertiary */
%heading-tertiary{

}

.heading__tertiary--large {
	@extend %heading-tertiary !optional;
}
.heading__tertiary--medium {
	@extend %heading-tertiary !optional;
}
.heading__tertiary--small {
	@extend %heading-tertiary !optional;
}

/* General */
p {
	@extend %font-secondary;
	color: $sbci_teal;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 15px;
   margin-bottom: 10px;
}

/* Media Queries */
@media (min-width: 320px) {

	// h1
	.font__primary--50,
	%font__primary--50 {
		font-size: 34px;
		line-height: 51px;
	}

	// h2
	.font__primary--40,
	%font__primary--40 {
		font-size: 30px;
		line-height: 45px;
	}

	// h3
	.font__primary--28,
	%font__primary--28 {
		font-size: 21px;
		line-height: 24px;
	}


	.font__primary--26,
	%font__primary--26 {
		font-size: 20px;
		line-height: 24px;
	}

	// h4
	.font__primary--24,
	%font__primary--24 {
		font-size: 18px;
		line-height: 20px;
	}

	// h3 subtitle
	.font__primary--22,
	%font__primary--22 {
		font-size: 16px;
		line-height: 24px;
	}

	// h1 subtitle
	.font__secondary--28,
	%font__secondary--28 {
		font-size: 21px;
		line-height: 24px;
	}

	// h2 subtitle
	.font__secondary--24,
	%font__secondary--24 {
		font-size: 18px;
		line-height: 20px;
	}

	// h4 subtitle
	.font__secondary--18,
	%font__secondary--18 {
		font-size: 16px;
		line-height: 21px;
	}

	.font__secondary--16,
	%font__secondary--16 {
		font-size: 14px;
		line-height: 20px;
	}
}

@media (min-width: 768px) {

	// h1
	.font__primary--50,
	%font__primary--50 {
		font-size: 40px;
		line-height: 60px;
	}

	// h2
	.font__primary--40,
	%font__primary--40 {
		font-size: 36px;
		line-height: 54px;
	}

	// h3
	.font__primary--28,
	%font__primary--28 {
		font-size: 23px;
		line-height: 26px;
	}

	.font__primary--26,
	%font__primary--26 {
		font-size: 22px;
		line-height: 24px;
	}

	// h4
	.font__primary--24,
	%font__primary--24 {
		font-size: 20px;
		line-height: 30px;
	}

	// h3 subtitle
	.font__primary--22,
	%font__primary--22 {
		font-size: 18px;
		line-height: 27px;
	}

	// h1 subtitle
	.font__secondary--28,
	%font__secondary--28 {
		font-size: 24px;
		line-height: 36px;
	}

	// h2 subtitle
	.font__secondary--24,
	%font__secondary--24 {
		font-size: 20px;
		line-height: 30px;
	}

	// h4 subtitle
	.font__secondary--18,
	%font__secondary--18 {
		font-size: 16px;
		line-height: 21px;
	}
	.font__secondary--16,
	%font__secondary--16 {
		font-size: 15px;
		line-height: 21px;
	}
}

@media (min-width: 992px) {

	// h1
	.font__primary--50,
	%font__primary--50 {
		font-size: 46px;
		line-height: 69px;
	}

	// h2
	.font__primary--40,
	%font__primary--40 {
		font-size: 40px;
		line-height: 60px;
	}

	// h3
	.font__primary--28,
	%font__primary--28 {
		font-size: 26px;
		line-height: 39px;
	}

	.font__primary--26,
	%font__primary--26 {
		font-size: 24px;
		line-height: 35px;
	}

	// h4
	.font__primary--24,
	%font__primary--24 {
		font-size: 22px;
		line-height: 33px;
	}

	// h3 subtitle
	.font__primary--22,
	%font__primary--22 {
		font-size: 20px;
		line-height: 30px;
	}

	// h1 subtitle
	.font__secondary--28,
	%font__secondary--28 {
		font-size: 26px;
		line-height: 39px;
	}

	// h2 subtitle
	.font__secondary--24,
	%font__secondary--24 {
		font-size: 22px;
		line-height: 33px;
	}

	// h4 subtitle
	.font__secondary--18,
	%font__secondary--18 {
		font-size: 17px;
		line-height: 25px;
	}
}

@media (min-width: 1200px) {

	// h1
	.font__primary--50,
	%font__primary--50 {
		font-size: 50px;
		line-height: 75px;
	}

	// h2
	.font__primary--40,
	%font__primary--40 {
		font-size: 40px;
		line-height: 49px;
		// line-height: 60px;
	}

	// h3
	.font__primary--28,
	%font__primary--28 {
		font-size: 28px;
		line-height: 42px;
	}

	.font__primary--26,
	%font__primary--26 {
		font-size: 26px;
		line-height: 38px;
	}

	// h4
	.font__primary--24,
	%font__primary--24 {
		font-size: 24px;
		line-height: 36px;
	}

	// h3 subtitle
	.font__primary--22,
	%font__primary--22 {
		font-size: 22px;
		line-height: 33px;
	}

	// h1 subtitle
	.font__secondary--28,
	%font__secondary--28 {
		font-size: 28px;
		line-height: 42px;
	}

	// h2 subtitle
	.font__secondary--24,
	%font__secondary--24 {
		font-size: 24px;
		line-height: 36px;
	}

	// h4 subtitle
	.font__secondary--18,
	%font__secondary--18 {
		font-size: 18px;
		line-height: 27px;
	}

	.font__secondary--16,
	%font__secondary--16 {
		font-size: 16px;
		line-height: 24px;
	}
}