/* ==========================================================================
   Global/Footer
   ========================================================================== */

   // Start here and design like normal for 320px??
   .section__footer {
      position: relative;
      
      .footer-top {
         padding-top: 30px;
         padding-bottom: 30px;
         width: 100%;
         background: $sbci_teal;
         display: flex;
         flex-direction: column;
         justify-content: center;
         
         .brand {
            margin: 0 auto 10px auto;
            img {
               width: 200px;
               height: auto;
            }
         }

         .footer-menu {
            width: calc(100% - 100px);
            margin: 0px 50px 0px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .linkedin_icon {
               // margin: 0 10px 10px 10px;
               margin: 20px;
               svg {
                  height: 15px;
                  fill: $white;
               }
               &:hover {
                  svg {
                     fill: $sbci_teal-bright;
                  }
               }
            }
            ul {
               display: grid;
               grid-template-columns: repeat(1, 1fr);
               @extend %font-secondary;
               grid-gap: 5px;
                li {
                   display: flex;
                   flex-direction: row;
                   align-items: center;
                   justify-content: center;
                   border: 2px solid transparent;
                  a {
                     color: $white;
                     text-decoration: none;
                     width: max-content;
                     font-size: 16px;
                     position: relative;
                     padding: 10px;
                     &:after {
                        content: '';
                        width: calc(100% - 20px);
                        height: 2px;
                        background: transparent;
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                     }
                     &:hover {
                        &:after {
                           background: $white;
                           transform: scaleX(1);
                        }
                     }
                   }
                }
            }
            .menu-become-a-member {
               border: 2px solid $sbci_lime;
               transition: background-color ease-in-out 0.3s;
               &:hover {
                  background-color: $sbci_lime;
                  a {
                     color: $sbci_teal;
                  }
               }
               a {
                  cursor: pointer;
                  color: $white;
                  border-bottom: none;
                  font-family: $poppins;
                  text-align: center;
                  &:after {
                     content: none !important;
                  }
               }
            }
         }
      }

      .footer-bottom {
         width: 100%;
         padding: 20px;
         background: $sbci_teal-bright;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         .date {
            color: $sbci_teal;
            font-family: $poppins;
            padding-bottom: 10px;
            font-weight: 500 !important;
         }
         .footer-sub-menu {
            // width: 100%;
            ul {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               li {
                  margin: 10px 0;
                  a {
                     color: $sbci_teal;
                     text-decoration: none;
                     font-family: $poppins;
                     position: relative;
                     padding: 5px 0;
                    
                     &:before {
                        content: '';
                        width: calc(100% - 40px);
                        height: 2px;
                        background: transparent;
                        position: absolute;
                        bottom: 0;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                     }
                     &:hover {
                        &:before {
                           background: $sbci_teal;
                           transform: scaleX(1);
                        }
                     }
                  }
               }
            }
         }
      }

      // .scrolltop_btn {
      //    width: 50px;
      //    height: 50px;
      //    position: absolute;
      //    top: 0;
      //    right: 20px;
      //    margin-top: -25px;
      //    background: $sbci_teal;
      //    display: flex;
      //    align-items: center;
      //    justify-content: center;
      //    .icon {
      //       width: 22px;
      //       height: 19px;
      //       background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 21.62 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%2357a87d;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='21.62' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eright-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='11.62 1.06 19.5 8.94 11.62 16.83'/%3E%3Cline class='cls-3' x1='18.89' y1='8.94' y2='8.94'/%3E%3C/g%3E%3C/svg%3E");            background-repeat: no-repeat;
      //       background-size: 22px 19px;
      //       transform: rotate(270deg);
      //    }
      //    &:hover {
      //       .icon {
      //          background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%2357a87d;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(-10.56 0)'%3E%3Crect class='cls-1' width='21.62' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Egreen-arrow-right%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='1.06 1.06 8.94 8.94 1.06 16.83'/%3E%3C/g%3E%3C/svg%3E");               background-size: 22px 19px;
      //       }
      //    }
      // }

      // .scrolltop_btn {
      //    width: 50px;
      //    height: 50px;
      //    position: absolute;
      //    top: 0;
      //    right: 20px;
      //    margin-top: -25px;
      //    background: $sbci_teal;
      //    display: flex;
      //    align-items: center;
      //    justify-content: center; 
      //    .icon {
      //       width: 22px;
      //       height: 19px;
      //       background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 21.62 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%2357a87d;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='21.62' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eright-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='11.62 1.06 19.5 8.94 11.62 16.83'/%3E%3Cline class='cls-3' x1='18.89' y1='8.94' y2='8.94'/%3E%3C/g%3E%3C/svg%3E");            background-repeat: no-repeat;
      //       background-size: 22px 19px;
      //       transform: rotate(270deg);
      //    }
      //    &:hover {
      //       .icon {
      //          background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%2357a87d;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(-10.56 0)'%3E%3Crect class='cls-1' width='21.62' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Egreen-arrow-right%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='1.06 1.06 8.94 8.94 1.06 16.83'/%3E%3C/g%3E%3C/svg%3E");               background-size: 22px 19px;
      //       }
      //    }
      // }

      // new below - to be deleted
      .scrolltop_btn {
         width: 50px;
         height: 50px;
         position: absolute;
         top: 0;
         right: 20px;
         margin-top: -25px;
         background: $sbci_teal;
         display: flex;
         align-items: center;
         justify-content: center;
         
         &:before,
         &:after {
            content: '';
            position: absolute;
            display: block;
            background: $sbci_teal-light;
            height: 13px;
            width: 3px;
            transition: all 0.3s ease;
         }
         &:before {
            transform: rotate(-45deg);
            top: 10px;
            right: 19px;
          }
        
          &:after {
            transform: rotate(45deg);
            top: 10px;
            left: 20px;
         }
         
         &:hover {
            &:before,
            &:after {
               // left: 25px;
            }
        
            span {
              height: 0px;
            }
          }
        
          span {
            content: '';
            position: absolute;
            display: block;
            background: $sbci_teal-light;
            width: 3px;
            height: 20px;
            right: 23px;
            top: 14px;
            transition: all 0.3s ease;
          }
      }

      // new above - to be deleted









   }




   @media (min-width: 480px) {
   .section__footer {
      .footer-top {
         .footer-menu {
            ul {
               grid-template-columns: repeat(2, 1fr);
            }

         }
      }

      .footer-bottom {
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         padding: 20px 50px;
         .date {
            padding-bottom: 0px;
            font-size: 16px;
            font-weight: 600;
         }
         .footer-sub-menu {
            ul {
               flex-direction: row;
               
               li {
                  margin: 0 !important;
                  // margin-left: auto!important;
                  a {
                     padding-right: 40px;
                     padding-left: 40px;
                     font-size: 16px;
                     font-weight: 500;
                     position: relative;
                     &:after {
                        content: ' ';
                        position: absolute;
                        background: $sbci_teal;
                        width: 1.8px;
                        height: calc(100% - 20px);
                        margin-left: 20px;
                        
                        top: 10px;
                     }
                     &:last-child {
                        padding-right: 0px;
                     }
                  }
                  &:last-child {
                     a {
                        &:after {
                           content: none;
                        }
                     }
                  }
               }

            }
         }
      }
   }
   }

   @media (min-width: 768px) {
      .section__footer {
         .footer-top {
            .footer-menu {
               width: calc(100% - 200px);
               margin: 0px auto 20px auto;
               ul {
                  grid-gap: 20px;
                  grid-template-columns: repeat(2, 1fr);
                  li {
                     margin-left: auto;
                     margin-right: auto;
                  }
               }
   
            }
         }
         .scrolltop_btn {
            right: 50px;
         }
      }
   }

   @media (min-width: 992px) {
      .section__footer {
   
         .footer-top {
            padding: 50px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .brand {
               margin: 0;
               img {
                  width: 200px;
               }
            }
   
            .footer-menu {
               flex-direction: row;
               justify-content: flex-end;
               margin-left: auto;
               flex-direction: row;
               margin-bottom: 0;
               .linkedin_icon {
                  margin: 0 10px 10px 10px;
                  margin-right: 20px;
                  margin-bottom: 0;
               }
               ul {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-end;
                  li {
                     margin: 0;
                     width: max-content;
                  }
               }
   
            }
         }
      }
   }

   @media (min-width: 1200px) {
      .section__footer {
         .footer-top {
            .footer-menu {
               width: calc(100% - 200px)  !important;
               margin-left: 100px;
               justify-content: flex-end;
               .linkedin_icon {
                  margin-right: 20px;
               }
               ul {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-end;
                  li {
                     margin: 0;
                     width: max-content;
                  }
               }
   
            }
         }
      }
   }

   @media (min-width: 1550px) {
      .section__footer {
         .footer-top {
            .footer-menu {
               width: calc(100% - 300px) !important;
               margin-left: 200px;
            }
         }
      }
   }



