/* ==========================================================================
   Grids
   ========================================================================== */

   .grid {
    display: grid;
    gap: 1.5rem 1rem;
    &--one-col {
      grid-template-columns: repeat(1, 1fr);
      // background: blue;
    }
    &--two-col {
      grid-template-columns: repeat(1, 1fr);
      // background: green;
    }
    &--three-col {
      grid-template-columns: repeat(1, 1fr);
      // background: orange;
    }
    &:empty {
      display: none;
    }
  }


  @media (min-width: 768px) {
    .grid {
      &--two-col {
        grid-template-columns: repeat(2, 1fr);
      }
      &--three-col {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (min-width: 1440px) {
    .grid {
      &--one-col {
        grid-template-columns: repeat(1, 1fr);
      }
      &--two-col {
        grid-template-columns: repeat(2, 1fr);
      }
      &--three-col {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    }
  }
