/* ==========================================================================
   Global/Header
   ========================================================================== */

   .section__header {
      width: 100%;

      .nav-desktop {
         display: none;
      }

      .nav-mobile {
         /* Employee and Membership Links */
         .nav-top {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            
            .nav-top__employee, .nav-top__membership {
               width: 50%;
               height: 100%;
               @extend %flex_center;
               cursor: pointer;
               a {
                  text-decoration: none;
                  @extend %font-secondary;
                  font-size: 16px;
                  line-height: 28px;
                  font-weight: 500;
               }
            }

            
   
            .nav-top__membership {
               background: $color-primary;
               border: 2px solid transparent;
               position: relative;
               transition: border ease-in-out 0.3s;
               a {
                  color: $white;
                  position: relative;
                  &:after {
                     content: "+";
                     padding-left: 5px;
                     color: $sbci_teal-bright;
                     position: absolute;
                     top: 0;
                     right: -15px;
                     font-weight: 500;
                     -webkit-transition: 0.4s ease-in-out;
                     -moz-transition: 0.4s ease-in-out;
                     -o-transition: 0.4s ease-in-out;
                     transition: 0.4s ease-in-out;
                  }
               }

               &:hover {
                  border: 2px solid $sbci_teal!important;
                  background: $white !important;
                  a {
                     color: $sbci_teal;
                     &:after {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 2px;
                     }
                  }
               }

               a.clicked {
                  &:after {
                     -webkit-transform: rotate(-45deg);
                     -moz-transform: rotate(-45deg);
                     -ms-transform: rotate(-45deg);
                     -o-transform: rotate(-45deg);
                     transform: rotate(-45deg);
                     top: 2px;
                  }
               }

               .membership-dropdowns {
                  display: none;
                  width: calc(100% + 0px);
                  background: $sbci_teal;
                  margin-left: 0;
                  margin-right: 0;
                  position: absolute;
                  top: 50px;
                  z-index: 1;

                  .link {
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: center;
                     height: 45px;
                     width: 100%;
                  }
                  a {
                     margin-left: 10px;
                     position: relative;
                     border-bottom: 1px solid transparent;
                     padding-bottom: 2px;
                     color: $white;
                     &:after {
                        content: none;
                     }
                     &:hover {
                        border-bottom: 1px solid $white;
                        padding-bottom: 2px;
                        position: absolute;
                     }
                  }
               }
            }
   
            .nav-top__employee {
               background-color: $sbci_grey;
               border: 2px solid transparent;
               transition: border ease-in-out 0.3s;
               a {
                  color: $color-primary;
               }
               &:hover {
                  border: 2px solid $sbci_teal;
               }
            }
         }

         /* Logo, Search */
         .nav-middle {
            padding: 0 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
            justify-content: space-between;
            
            .brand {
               margin: 0 10px;
               
               img {
                  width: 140px;
                  height: auto;
               }
            }
            svg { // search icon
               width: 22px;
               // height: 27px;
               height: auto;
               margin-right: 10px;
               margin-left: auto;
               cursor: pointer;
               -webkit-transform: rotate(-30deg);
               -moz-transform: rotate(-30deg);
               -ms-transform: rotate(-30deg);
               -o-transform: rotate(-30deg);
               transform: rotate(-30deg);
               position: static;
               z-index: 30;
               .cls-3 { 
                  stroke: $sbci_teal;
               }
               &:hover {
                  .cls-3 { 
                     stroke: #b2b2b2;
                  }
               }
            }

            .search_expanded { // mobile
               display: none;
               width: 100%;
               form {
                  width: 100% !important;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  position: relative;
                  z-index: 30;
                   
                  input {
                     -webkit-appearance: none !important;
                     border-radius: 0;
                  }
                  input[type="text"] {
                     width: 100%;
                     border: none;
                     border-bottom: 1.93px solid $sbci_teal;
                     font-family: $poppins;
                     font-size: 16px;
                     color: $sbci_teal;
                     line-height: 28px;
                     
                     &::-webkit-input-placeholder { /* Edge */
                        color: transparent;
                      }
                      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: transparent;
                      }
                      &::placeholder {
                        color: transparent;
                      }
                  }
                  input[type="submit"] {
                     border: none;
                     background: none;
                     color: transparent;
                     cursor: pointer;
                     height: auto;
                     background-image: url("data:image/svg+xml, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7B;stroke-miterlimit:10;stroke:%23042c33;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eleft-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='10 16.83 2.12 8.94 10 1.06'/%3E%3C/g%3E%3C/svg%3E");                           background-repeat: no-repeat;
                     background-size: 15px 13px;
                     -webkit-transform: rotate(180deg);
                     -moz-transform: rotate(180deg);
                     -ms-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                     transform: rotate(180deg);
                     position: absolute;
                     bottom: 10px;
                     right: 0px;
                  }
               }

            }
            
         }

         .search-clicked {
            svg {
               .cls-3 { 
                  stroke: $sbci_lime !important;
               }
            }
         }



         /* Nav */
         .nav-bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            .nav-main { // main nav
               width: calc(100% - 40px);
               background: $white;
               cursor: pointer;
               position: relative;


               ul { // main nav
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  overflow-x: scroll;
                  -webkit-overflow-scrolling: touch; // NEW
                  @extend %font-secondary;
                  font-weight: 600;
                  letter-spacing: 0.11em;
                  overflow-y: visible;
                  &:after {
                     content:'';
                     height: 100%;
                     width: 15%;
                     display:block;
                     position: absolute;
                     right: 0;
                     top: 0;
                     background: rgba(255,255,255,1);
                     background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     background: -webkit-gradient(right top, left top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
                     background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     background: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     background: -ms-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
                  }

                  li { // main nav
                     display: flex;
                     flex-direction: row;
                     margin: 0 10px;
                     padding-right: 15px;
                     cursor:pointer;
                     &:last-of-type {
                        padding-right: 30px;
                     }
                     a { // main nav
                        width: max-content;
                        text-decoration: none;
                        color: $sbci_teal;
                        position: relative;
                        padding-bottom: 25px;
                        padding-right: 10px;
                        border-bottom: 5.18px solid transparent;
                     }
                     .dropdown-toggle {
                        &:after {
                           content: "+";
                           padding-left: 2px;
                           color: $color-secondary;
                           position: absolute;
                        }
                     }
                  }
                  
                  .open { // open class for main nav - show secondary menu
                     cursor: pointer;
                     > .dropdown-toggle {
                        border-bottom: 5.18px solid $sbci_lime;
                     }
                     a { // main nav
                        &:after { // main nav
                           -webkit-transform: rotate(45deg);
                           -moz-transform: rotate(145deg);
                           -ms-transform: rotate(145deg);
                           -o-transform: rotate(145deg);
                           transform: rotate(45deg);
                        }
                     }
                     > .dropdown-menu__primary { // secondary menu ul
                        display: flex !important;
                        z-index: 900;
                     } 
                  }
               }

               .dropdown-menu__primary { // secondary menu ul
                  background:$sbci_teal !important;
                  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                  display: none;
                  flex-direction: column;
                  width: 100vw;
                  left: 0;
                  right: 0;
                  justify-content: center;
                  align-items: flex-start;
                  position: absolute;
                  top: 46px;
                  z-index: 999;
                  overflow-x: auto;
                  height: auto;
                  border: none !important;
                  &:after {
                     content: none !important;
                     // height: 10px;
                     // width: 15%;
                     // display:block;
                     // position: absolute;
                     // right: 0;
                     // top: 0;
                     // border: 1px solid red;
                     // background: rgba(255,255,255,1);
                     // background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     // background: -webkit-gradient(right top, left top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
                     // background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     // background: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     // background: -ms-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     // background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                     // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
                  }
                  li {
                     display: block;
                     padding: 30px 10px;
                     width: 100%;
                     margin: 0;
                     overflow-x: auto;
                     cursor:pointer;
                     z-index: 999;
                     a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: $white;
                        position: static;
                        font-size: 16px !important;
                        padding-bottom: 5px !important;
                        padding-right: 0px !important;
                        border-bottom: 1px solid transparent;
                        font-weight: 500 !important;
                        &:hover {
                           border-bottom: 1px solid $white;
                        }
                     }
                     .inner-dropdown-toggle {
                        &:after {
                           content: '';
                           width: 35px;
                           height: 20px;
                           background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eleft-arrow-green%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='10 16.83 2.12 8.94 10 1.06'/%3E%3C/g%3E%3C/svg%3E");                              
                           background-size: 100% 100% !important;
                           -webkit-transform: rotate(270deg);
                           -moz-transform: rotate(270deg);
                           -ms-transform: rotate(270deg);
                           -o-transform: rotate(270deg);
                           transform: rotate(270deg);
                           position: absolute;
                           right: 10px;
                           margin-left: auto;
                        }
                     }
                  }

                  .open-second {
                     .inner-dropdown-toggle {
                        border-bottom: 1px solid $white;
                     }
                     a {
                        &:after {
                           -webkit-transform: rotate(90deg);
                           -moz-transform: rotate(90deg);
                           -ms-transform: rotate(90deg);
                           -o-transform: rotate(90deg);
                           transform: rotate(90deg);
                        }
                     }
                  }

                  .dropdown-menu__secondary { // tertiary menu ul
                     display: none;
                     background: $white !important;
                     overflow-x: auto;
                     height: auto;
                     li {
                        overflow-x: auto;
                        cursor:pointer;
                     }
                     a {
                        color: $sbci_teal !important;
                        text-decoration: none !important;
                        
                        &:after {
                           content: none !important;
                        }
                        &:hover {
                           border-bottom: 1px solid $sbci_teal;
                        }
                     }
                  }
               }

               .open-second {
                  .dropdown-menu__secondary { // tertiary menu ul
                     display: flex;
                     flex-wrap: wrap;
                     flex-direction: column;
                     justify-content: center;
                     align-items: flex-start;
                     width: 100vw  !important;
                     margin-top: 30px;
                     margin-left: -10px !important;
                     overflow-x: auto !important;

                     li {
                        display: block;
                        overflow-x: visible !important;
                        cursor:pointer;
                     }

                  }
               }
            }



            .white-fade {
               // width: 60px;\
               // width: 15%;
               // position: absolute;
               // right: 0;
               // top: 0;
               // height: 20px;
               // border: 1px solid red;
               // background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.8));
            }
            .scroll-arrow {
               animation-name: scroll;
               animation-duration: 2.2s;
               animation-timing-function: cubic-bezier(.15,.41,.69,.94);
               animation-iteration-count: infinite;
               margin-bottom: auto;
               svg {
                  width: 11px;
                  height: 19px;
                  transform: scaleX(-1);
                  -moz-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  -ms-transform: scaleX(-1);
                  margin-top: -2px;
               }
            }
            @keyframes scroll {
               0% { opacity: 0; }
               10% { transform: translateX(0); opacity: 1; }
               100% { transform: translateX(20px); opacity: 0;}
             }
         }
      }
      
   }

   @media (min-width: 480px) {
      .section__header {
         .nav-mobile {
            /* Logo, Search */
            .nav-middle {
               .search_expanded { // mobile
                  width: 100%;
                  form {
                     // width: 250px !important;
                     // width: 300px !important;
                     width: 100%;
                     input[type="text"] {

                        &::-webkit-input-placeholder { /* Edge */
                           color: $sbci_teal;
                        }
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                           color: $sbci_teal;
                        }
                        &::placeholder {
                           color: $sbci_teal;
                        }
                     }
                  }

               }
               
            }
         }
      }
   }




   @media (min-width: 992px) {
      .section__header {
         width: 100%;
   
         .nav-mobile {
            display: none;
         }
   
         .nav-desktop {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            // padding: 20px 20px 45px 20px;
            padding: 40px;
            .nav-left {
               .brand {
                  img {
                     width: 280px;
                     height: auto;
                  }
               }
            }

            .nav-right {
               width: calc(100% - 200px);
               display: flex;
               flex-direction: column;

               .search-clicked {
                  svg {
                     .cls-3 { 
                        stroke: $sbci_lime !important;
                     }
                  }
               }
               
               .nav-top {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;

                  svg { // search icon
                     width: 22px;
                     height: 27px;
                     margin-right: 10px;
                     cursor: pointer;
                     -webkit-transform: rotate(-30deg);
                     -moz-transform: rotate(-30deg);
                     -ms-transform: rotate(-30deg);
                     -o-transform: rotate(-30deg);
                     transform: rotate(-30deg);
                     .cls-3 { 
                        stroke: $sbci_teal;
                     }
                     &:hover {
                        .cls-3 { 
                           stroke: #b2b2b2;
                        }
                     }
                  }

                  .search_expanded { // desktop
                     display: none;
                     form {
                        width: 300px !important;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        position: relative;
                        input[type="text"] {
                           width: 100%;
                           border: none;
                           border-bottom: 1.93px solid $sbci_teal;
                           font-family: $poppins;
                           font-size: 16px;
                           color: $sbci_teal;
                           line-height: 28px;
                           &::-webkit-input-placeholder { /* Edge */
                              color: $sbci_teal;
                            }
                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                              color: $sbci_teal;
                            }
                            &::placeholder {
                              color: $sbci_teal;
                            }
                        }
                        input[type="submit"] {
                           border: none;
                           background: none;
                           color: transparent;
                           cursor: pointer;
                           height: auto;
                           background-image: url("data:image/svg+xml, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7B;stroke-miterlimit:10;stroke:%23042c33;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eleft-arrow%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='10 16.83 2.12 8.94 10 1.06'/%3E%3C/g%3E%3C/svg%3E");                           background-repeat: no-repeat;
                           background-size: 15px 13px;
                           -webkit-transform: rotate(180deg);
                           -moz-transform: rotate(180deg);
                           -ms-transform: rotate(180deg);
                           -o-transform: rotate(180deg);
                           transform: rotate(180deg);
                           position: absolute;
                           bottom: 10px;
                           right: 0px;
                        }
                     }

                  }

                  .nav-top__employee, .nav-top__membership {
                     width: 180px;
                     height: 45px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     margin-left: 30px;
                     cursor: pointer;
                     a {
                        text-decoration: none;
                        font-family: $poppins;
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 500;
                     }
                  }
         
                  .nav-top__membership {
                     background-color: $color-primary;
                     border: 2px solid transparent;
                     position: relative;
                     transition: border ease-in-out 0.3s;
                     transition: background-color ease-in-out 0.3s;
                     a {
                        color: $white;
                        position: relative;
                        margin-left: -30px !important;
                        &:after {
                           content: "+";
                           padding-left: 15px;
                           color: $sbci_teal-bright;
                           position: absolute;
                           top: 0;
                           right: -30px;
                           font-weight: 500;
                           -webkit-transition: 0.1s ease-in-out;
                           -moz-transition: 0.1s ease-in-out;
                           -o-transition: 0.1s ease-in-out;
                           transition: 0.1s ease-in-out;
                        }
                     }
                     &:hover {
                        border: 2px solid $sbci_teal;
                        background-color: $white;
                        a {
                           color: $sbci_teal;
                           &:after {
                              -webkit-transform: rotate(-45deg);
                              -moz-transform: rotate(-45deg);
                              -ms-transform: rotate(-45deg);
                              -o-transform: rotate(-45deg);
                              transform: rotate(-45deg);
                              top: 5px;
                           }
                        }
                     }
                     a.clicked {
                        &:after {
                           -webkit-transform: rotate(-45deg);
                           -moz-transform: rotate(-45deg);
                           -ms-transform: rotate(-45deg);
                           -o-transform: rotate(-45deg);
                           transform: rotate(-45deg);
                           top: 2px;
                        }
                     }

                     .membership-dropdowns {
                        display: none;
                        width: calc(100% + 5px);
                        background: $sbci_teal;
                        margin-left: 0;
                        margin-right: 0;
                        position: absolute;
                        
                        top: 50px;
                        z-index: 1;

                        .link {
                           display: flex;
                           flex-direction: column;
                           align-items: flex-start;
                           justify-content: center;
                           height: 45px;
                           width: 100%;
                        }
                        a {
                           margin-left: 20px;
                           position: relative;
                           border-bottom: 1px solid transparent;
                           padding-bottom: 2px;
                           color: $white;
                           left: 40px;
                           &:after {
                              content: none;
                           }
                           &:hover {
                              border-bottom: 1px solid $white;
                              padding-bottom: 2px;
                              position: absolute;
                           }
                        }
                     }
                  }
         
                  .nav-top__employee {
                     background: $sbci_grey;
                     border: 2px solid transparent;
                     a {
                        color: $color-primary;
                     }
                     &:hover {
                        background: transparent;
                        border: 2px solid $sbci_teal;
                     }
                  }
                  
               }

               .nav-bottom { // Navigation Menu Links Container
                  display: flex;
                  flex-direction: row;
                  width: 100%;

                  .nav-main { // Navigation Menu Links
                     background: $white;
                     margin-left: auto;
                     margin-top: 40px;
                     width: 100%;

                     ul { // first level links
                        width: 100%;
                        position: relative;
                        right: 0;
                        font-family: $poppins;
                        font-weight: 600;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                         li {
                            margin: 0 10px;
                            display: flex;
                            flex-direction: row;
                            font-size: 14px !important;
                            text-align: right;
                            position: relative;
                            &:hover {
                               &:after { // green line
                                  content: ' ';
                                  position: absolute;
                                  bottom: -40px;
                                  width: 100%;
                                  height: 5.18px;
                                  background: $sbci_lime;
                                  z-index: 11;
                                  -webkit-transition: 0.4s ease-in-out;
                                  -moz-transition: 0.4s ease-in-out;
                                  -o-transition: 0.4s ease-in-out;
                                  transition: 0.4s ease-in-out;
                               }
                              > .dropdown-menu__primary {
                                 display: block;

                              }
                              // here?
                              > .dropdown-toggle {
                                 &:after {
                                    -webkit-transform: rotate(-45deg);
                                    -moz-transform: rotate(-45deg);
                                    -ms-transform: rotate(-45deg);
                                    -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);
                                    top: 2px;
                                 }
                              }
                            }
                            &:first-child {
                              margin-left: 0;
                            }
                            &:last-child {
                              margin-right: 0px;
                            }
                            .dropdown-toggle {
                              position: relative;
                              padding-right: 18px;
                              &:after {
                                 content: '+';
                                 display: inline-block;
                                 position: absolute;
                                 top: 50%;
                                 right: 0;
                                 transform: translateY(-50%);
                                 color: $color-secondary;
                                 -webkit-transition: 0.1s ease-in-out;
                                 -moz-transition: 0.1s ease-in-out;
                                 -o-transition: 0.1s ease-in-out;
                                 transition: 0.1s ease-in-out;
                              }
                              &::before {
                                 content: '';
                                 position: absolute;
                                 background-color: transparent;
                                 width: 120%;
                                 height: 120px;
                               }
                               
                               &:hover {
                                 &:after {
                                    -webkit-transform: rotate(-45deg);
                                    -moz-transform: rotate(-45deg);
                                    -ms-transform: rotate(-45deg);
                                    -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);
                                    top: 2px;
                                 }
                               }
                           }
                           a {
                              text-align: right;
                              color: $color-font-primary;
                              text-decoration: none;
                              width: max-content;
                              font-size: 14px !important;
                            }

                            
                            > ul { // second level links
                              display: none;
                              position: absolute;
                              top: 55px;
                              z-index: 90;

                              li { //first dropdown
                                 background: #f4f4f4;
                                 width: 320px;
                                 min-width: max-content;
                                 color: $white;
                                 padding: 20px 30px;
                                 margin-left: 0 !important;
                                 margin: 5px 0 !important;
                                 display: flex;
                                 flex-direction: row;
                                 align-items: center;
                                 justify-content: space-between;

                                 &:hover {
                                    > ul {
                                       display: block;
                                    }
                                    
                                  }
                                 &:first-child {
                                    margin-top: 0!important;
                                 }
                                 &:last-child {
                                    margin-bottom: 0!important;
                                 }
                                 &:after {
                                    content: none !important;
                                 }
                                 a {
                                    color: $sbci_teal;
                                    text-align: left;
                                    display: flex;
                                    align-items: center;
                                    border-bottom: 1px solid transparent;
                                    font-weight: 500 !important;
                                 }
                                 &:hover {
                                    background: $sbci_teal;
                                    > .inner-dropdown-toggle {
                                       &:after {
                                          background:  url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eright-arrow-green%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='1.06 1.06 8.94 8.95 1.06 16.83'/%3E%3C/g%3E%3C/svg%3E")no-repeat;

                                       }
                                    }
                                    &:after {
                                       background:  url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%238bb03f;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eright-arrow-green%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='1.06 1.06 8.94 8.95 1.06 16.83'/%3E%3C/g%3E%3C/svg%3E")no-repeat;
                                    }
                                    a {
                                       color: $white;
                                       border-bottom: 1px solid $white;
                                    }
                                 }

                                 .inner-dropdown-toggle { //active a
                                    &:after {
                                       content: " ";
                                       width: 8px;
                                       height: 12px;
                                       background:  url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 11.06 17.89'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23042c33;stroke-miterlimit:10;stroke-width:3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(0 0)'%3E%3Crect class='cls-1' width='11.06' height='17.89'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Eright-arrow-teal%3C/title%3E%3Cg class='cls-2'%3E%3Cpolyline class='cls-3' points='1.06 1.06 8.94 8.95 1.06 16.83'/%3E%3C/g%3E%3C/svg%3E")no-repeat;
                                       background-size: 100%;
                                       position: absolute !important;
                                       right: 30px;
                                       display: inline-block;
                                    }
                                 }


                                 > ul { // third level links
                                    display: none;
                                    position: absolute;
                                    top: 0px;
                                    right: -400px;
                                    z-index: 1;
                                    background: $sbci_teal;
                                    width: max-content;
                                    
                                    li {
                                       background: $sbci_teal;
                                       width: 390px;
                                       color: $white;
                                       margin: 5px 0 !important;
                                       display: flex;
                                       flex-direction: row;
                                       align-items: center;
                                       justify-content: space-between;
                                       &:first-child {
                                          margin-top: 0!important;
                                       }
                                       &:last-child {
                                          margin-bottom: 0!important;
                                       }

                                       a {
                                          color: $sbci_teal;
                                          position: relative;
                                          padding-bottom: 0 !important;
                                          border-bottom: 1px solid transparent !important;
                                          &:after {
                                             content: none;
                                          }
                                       }
                                       &:hover {
                                          &:after {
                                             content: none;
                                          }
                                          a {
                                             color: $white;
                                             border-bottom: 1px solid $white !important;
                                          }
                                       }
                                    }
      
                                  }
                              }

                            }
                         }
                     }
         
                  }
               }
            }
         }
         
      }
   }


   @media (min-width: 1100px) {
      .section__header {
         .nav-desktop {
            .nav-left {
               .brand {
                  img {
                     width: 280px;
                  }
               }
            }
            
            .nav-right {
               .nav-bottom {
                  .nav-main {
                     ul {
                         li {
                           a {
                              font-size: 18px !important;
                            }
                            > ul {
                               top: 58px;
                              li {
                                 > ul {
                                    li {
                                      a {
                                       //   border: 1px solid red;
                                      }
                                    }
                                 }
                              }
                            }
                         }

                         ul {
                            li {
                               a {
                                 font-size: 16px !important;
                               }
                            }
                         }
                     }
                  }
               }
            }
         }
      }
   }

   @media (min-width: 1300px) {
      .section__header {
         .nav-desktop {
            .nav-right {
               .nav-main {
                  ul {
                     li {
                        margin: 0 30px !important;
                        &:last-of-type {
                           margin-right: 0 !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }


























  