/* ==========================================================================
   Global/Mixins
   ========================================================================== */
  
/* Position Absolute */
%pos-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Buttons */
%btn {

}

@mixin btn-border($btn-border) {
	@extend %btn;
}

// White button with green border
.btn__primary,
%btn__primary  {
   margin: 20px 0;
   background-color: transparent;
   border: 2px solid $sbci_lime;
   height: 45px;
   padding: 0 20px;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: $poppins;
   transition: background-color ease-in-out 0.3s;
   &:hover {
         background-color: $sbci_lime;
         a {
            color: $sbci_teal;
         }
   }
   a {
      cursor: pointer;
      color: $sbci_teal;
      font-size: 14px;
      font-weight: 500;
      font-family: $poppins;
      border-bottom: none;
      font-family: $poppins;
      text-align: center;
      padding-bottom: 0 !important;
      &:after {
         content: none !important;
      }
   }
}


// Teal button
.btn__secondary,
%btn__secondary {
   margin: 20px 0;
   background-color: $sbci_teal;
   border: 2px solid transparent;
   height: 45px;
   padding: 0 30px;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: $white;
   font-family: $poppins;
   transition: background-color ease-in-out 0.3s;
   &:hover {
      border: 2px solid $sbci_teal-bright;
      background-color: transparent;
      cursor: pointer;
      color: $sbci_teal !important;
      a {
         color: $sbci_teal !important;
      }
   }
   a {
      cursor: pointer;
      color: $white !important;
      font-size: 14px;
      font-weight: 500;
      font-family: $poppins;
      border-bottom: none;
      font-family: $poppins;
      padding: 0px !important;
      &:after {
         content: none !important;
      }
   }
}

.btn__tertiary,
%btn__tertiary {
  background-color: $sbci_grey-light;
  border: 2px solid transparent;
  display: inline-flex;
  padding: 15px;
  color: $sbci_teal;
  cursor: pointer;
  transition: border ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
  a {
    &:after {
      content: none !important;
    }
  }
  &:hover {
    background-color: $white;
    border: 2px solid $sbci_teal;
  }
}

/* To be used with a span tag */
.btn__quarternary {
   font-family: $poppins;
   position: relative;
   display: inline-block;
   letter-spacing: 0.01em;
   font-weight: 600;
   text-decoration: none;
   color: $sbci_teal;
   padding-right: 20px;
 
   &:before,
   &:after {
     @extend %pseudo-shapes;
     width: 8px;
     height: 2px;
     background-color: $sbci_lime;
     right: 0px;
     transition: all 0.3s ease;
   }
 
   &:before {
     transform: rotate(45deg);
     top: calc( 50% - 4px );
   }
 
   &:after {
     transform: rotate(-45deg);
     top: calc( 50% + 0px );
   }
 
   &--left {
     padding-right: 0;
     padding-left: 20px;
     &:before,
     &:after {
       right: auto;
       left: 0px;
     }
 
     &:before {
       transform: rotate(-45deg);
     }
 
     &:after {
       transform: rotate(45deg);
     }
 
     &:hover {
       &:before,
       &:after {
         right: auto;
         left: -4px;
       }
 
       span {
         right: auto;
         left: -3px;
       }
     }
 
     span {
       right: auto;
       left: 2px;
     }
   }
 
   &:hover {
     &:before,
     &:after {
       right: -4px;
     }
 
     span {
       width: 12px;
       right: -3px;
     }
   }
 
   span {
     @extend %pseudo-shapes;
     background: $sbci_lime;
     height: 2px;
     width: 0px;
     right: 2px;
     top: calc( 50% - 2px );
     transition: all 0.3s ease;
   }
 }

 /* Pseudoelement shapes */
%pseudo-shapes {
   content: '';
   position: absolute;
   display: block;
 }

%flex_center {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}


// line-clamp
@mixin line-clamp($lines: 2) {
   display: -webkit-box;
   -webkit-line-clamp: $lines;
   box-orient: vertical;
   -moz-box-orient: vertical; /* Mozilla */
   -webkit-box-orient: vertical; /* WebKit */
   /* autoprefixer: off */
   -webkit-box-orient: vertical;
   /* autoprefixer: on */
   overflow: hidden;
 }

 

 /*  Font Weights
	Thin = 100
	Extra-light = 200
	Light = 300
	Regular = 400
	Medium = 500
	Semi-Bold = 600
	Bold = 700
	Extra-Bold = 800
	Black = 900
*/

/* ==========================================================================
   Font Weights
   ========================================================================== */

   @mixin font-weight($weight) {
    $weights: (
      thin: 100,
      extra-light: 200,
      light: 300,
      regular: 400,
      medium: 500,
      semi-bold: 600,
      bold: 700,
      extra-bold: 800,
      black: 900,
    );
    $output: $weight;
    @if map-has-key($weights, $weight) {
      $output: map-get($weights, $weight);
    }
    font-weight: $output;
  }
  // To use: @include font-weight(semi-bold);