/* ==========================================================================
   Global/Modals - Login/Registration Modal
   ========================================================================== */

   .modal__container { 
    position: relative;
    display: none;

    &.modal__open {
        display: block;
        overflow: scroll;
        &:before {
            content: '';
            display: inline-block;
            background: rgba($sbci_teal,0.8);
            position: fixed;
            top: -100%;
            bottom: 0;
            left: -100%;
            right: 0;
            z-index: 50;
            height: 200vh;
            width: 200vw;
        }
    }
    .modal__close { 
      display: -webkit-flex;
      display: -ms-flex;
      margin-left: auto;
      text-decoration: none;
      width: 25px;
      height: auto;
      margin: 10px 10px 10px auto;
      transform: rotate(45deg);
      transition: stroke 0.6s ease;
      svg {
        .cls-1 {
          stroke: $sbci_teal;
        }
      }
      &:hover {
        svg {
          .cls-1 {
            stroke: $sbci_lime;
          }
        }
      }
      &:after {
         content: none !important;
      }
   
    }
  }
  
  .modal {
    display: block;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    text-align: center;
    position: fixed;
    background: white;
    top: 50%;
    min-height: 100px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    left: 0; 
    right: 0;
    z-index: 800;
    opacity: 0;
    color: $sbci_teal-light;
    transform: translateY(calc(-50% + 100px));
    transition: opacity 0.5s ease, transform 0.6s ease;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 20px 0;
    
    &.visible {
      opacity: 1;
      transform: translateY(-50%);
      transition: opacity 0.5s ease, transform 0.6s ease;
    }
    
    &.transition {
      opacity: 0;
      transform: translateY(calc(-50% + 100px));
      transition: opacity 0.5s ease, transform 0.6s ease;
    }
    
    &.hide {
      display: none;
    }

    a {
        color: $sbci_teal;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        padding-bottom: 2px;
        font-family: $poppins;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $sbci_teal-bright;
            bottom: 0;
            left: 0;
            transform: scaleX(1);
            transition: transform 250ms ease-in-out;
        }
        &:hover:after {
            transform: translateX(-40%) scaleX(0.2);
        }
    }
    
  }

  .modal-block__left {
      padding: 0 15px 40px 15px;
      .title-container {
          display: flex;
          flex-direction: column;
          .icon {
            svg {
                width: 36px;
                height: 22px;
                .cls-1 {
                    stroke: $sbci_teal-light;
                }
            }
          }
          .title_left {
            font-weight: 600;
          }
      }
  }

  .modal-block__right {
    padding: 40px 15px 40px 15px;
    background-size: cover;
    background-size: 100%;
    .container-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 200px;
        .title_right {

        }

        .member-link {
            position: absolute;
            bottom: 0px;
            margin-bottom:0;
            width: 100%;
            a {
                font-weight: 500;
            }
        }
    }

  }

  .login-form {
    form {
      margin-top: 20px;
      label {
          @extend %font__secondary--16;
          font-weight: 500 !important;
      }
      input[type=text], input[type=password] {
        display: block;
        width: 100%;
        margin: 0 auto;
        font-family: $poppins;
        color: $sbci_teal;
        letter-spacing: 0.05em;
        font-size: 14px;
        padding: 10px !important;
        background-color: $form_lightgrey;
        border: none;
        &:focus {
          outline: none;
          background-color: $form_lightgrey;
        }
      }
      .button {
          @extend %btn__secondary;
          width: 100% !important;
      }
    }
  }



  



@media (min-width: 1200px) {
  .modal {
    max-width: 966px;
    text-align: left;
    flex-direction: row;
    .modal__close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .modal-block__left {
      padding: 60px;
      width: 50%;
      position: relative;
      .title-container {
          flex-direction: row;
          align-items: center;
          .title_left {
            margin-left: 20px;
          }
      }
      .forgot_link {
        position: absolute;
        bottom: 75px;
        left: 200px;
      }
  }

  .modal-block__right {
    width: 50%;
    padding: 60px;
    .container-right {
        align-items: flex-start;
        min-height: 100%;
        .member-link {
            width: max-content;
            min-width: 230px;
        }
    }
  }

  .login-form {
    padding-top: 50px;
    form {
      width: 100%;
      .gform_footer {
        padding-bottom: 0 !important;

      }
      input[type=text], input[type=password] {
        margin-right: auto;
        margin-left: 0;
      }
      .gform_footer {
        margin-top: 30px;
      }
      .button {
        position: absolute;
        bottom: 60px;
        left: 60px;
        width: auto !important;
      }
    }
  }
}