
/* ==========================================================================
   Accessibility
   ========================================================================== */

   .skip-to-content {
    position: absolute;
    transform: translateY(-150%);
    display: flex;
    align-items: center;
    background: grey;
    z-index: 999;
    height: 30px;
    left: 50%;
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem 1.75rem;
    transition: transform 0.3s;
    &:focus {
       transform: translateY(0%);
    }
 }