/* ==========================================================================
   Imports
   ========================================================================== */

/* Vendor Dependencies */
@import "meyer-reset";
@import "animate";

/* Authored Dependencies */
@import "global/colors";
@import "global/breakpoints";
@import "global/fonts";
@import "global/mixins";
@import "accessibility";

/* Patterns */
// @import "global/tabs";
// @import "global/modals";

/* Global */
@import "global/header";
@import "global/footer";
@import "global/grid.scss";
@import "section/section";
@import "global/modal.scss";
@import "section/pull-quote.scss";

/* Front Page Styles */
@import "section/fp_page-banner";
@import "section/fp_featured-content";
@import "section/fp_services";
@import "section/fp_resources";
@import "section/fp_news-events";
@import "section/fp_member";

/* Why SBCI Template */
@import "section/why-sbci-callout.scss";
@import "section/why-sbci-benefits.scss";
@import "section/why-sbci-membership.scss";

/* Services Template */
@import "section/services-template.scss";
@import "section/services-callout.scss";
@import "section/services-member.scss";

/* All other Page Styles */
@import "section/page-banner.scss";
@import "section/main-content.scss";
@import "section/image-gallery.scss";
@import "section/accordion.scss";
@import "section/tables.scss";
@import "section/forms.scss";
@import "section/logos.scss";
@import "section/people.scss";
@import "section/contact.scss";



/* ==========================================================================
   Base
   ========================================================================== */

* {
   outline: none;
   padding: 0;
   opacity: 1;
   margin: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   &:focus {
      // outline: 1px solid red;
   }
}

html,body {
   overflow-x: hidden;
}

body {
   font-family: sans-serif;
   -webkit-font-smoothing: antialiased;
   -webkit-backface-visibility: hidden;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
input:-moz-placeholder, textarea:-moz-placeholder,
input::-moz-placeholder, textarea::-moz-placeholder,
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
   color: #000;
}



/* ==========================================================================
   Containers
   ========================================================================== */

.wrapper {
   width: 1440px;
   margin: 0 auto;
}

.fullwidth {
   width: 100%;
}


/* ==========================================================================
   WordPress Generated Classes
   ========================================================================== */

.aligncenter {
   display: block;
   margin: 0 auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

figure.alignnone {
   margin-left: 0;
   margin-right: 0;
}

/* ==========================================================================
   Responsive Queries
   ========================================================================== */

@import "responsive";
