@media (max-width: 320px) {
    .wrapper, 
    .wrapper.inner, 
    .wrapper.wide, 
    .wrapper.page {
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width: 320px) {
    .wrapper, .wrapper.inner, .wrapper.wide  {
        width: 100%;
        padding: 0 30px;
    }
}


@media (min-width: 768px) { 
    .wrapper, .wrapper.inner, .wrapper.wide  {
        padding: 0 60px;
    }
}

@media (min-width: 992px) { 
    .wrapper, .wrapper.inner  {
        width: 950px;
        padding: 0;
    }
    .wrapper.wide {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) { 
    .wrapper.wide {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {
    .wrapper, .wrapper.inner  {
        width: 1000px;
    }
    .wrapper.wide {
        padding: 0 60px;
    }
}

@media (min-width: 1300px) {
    .wrapper.wide {
        padding: 0 70px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 1175px;

    }
    .wrapper.inner {
        // border: 2px solid pink !important;
        width: 1000px;
    }

    .wrapper.wide {
        padding: 0 70px;
    }

}

@media (min-width: 1550px) {
    .wrapper.wide {
        padding: 0 90px;
    }
}

@media (min-width: 1750px) {
    .wrapper.wide {
        padding: 0 170px;
    }
}

@media (min-width: 1800px) {
    .wrapper {
        width: 1276px;

    }
    .wrapper.inner {
        width: 1100px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1396px;
    }
    .wrapper.inner {
        width: 1100px; 
    }
    .wrapper.wide {
        padding: 0 150px;
    }
}